<div class="wrapper one">
  <div class="drop-main">
    <div class="delay-0">W</div>
    <div class="delay-2">I</div>
    <div class="delay-4">S</div>
    <div class="delay-6">H</div>
    <div class="delay-8">L</div>
    <div class="delay-10">I</div>
    <div class="delay-12">S</div>
    <div class="delay-14">T</div>
  </div>
</div>
<div class="box"></div>
<button
  id="remove-all"
  master-checkbox
  mat-raised-button
  color="primary"
  [disabled]="checkIfAnythingSelected()"
  matBadge="{{ map.size }}"
  matBadgePosition="after"
  matBadgeColor="accent"
  (click)="removeAllFromMap()"
>
  Remove selected
</button>
<button
  id="unselect-all"
  mat-raised-button
  color="primary"
  [disabled]="checkIfAnythingSelected()"
  (click)="unselectAllFromMap()"
>
  Unselect
</button>
<mat-card class="mat-card">
  <mat-card-content>
    <table
      [ngClass]="{ hidden: customerWishlist.length === 0 }"
      multiTemplateDataRows
      matSort
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 wishlist-table"
      aria-label="Wishlist Table"
    >
      <ng-container matColumnDef="go-to">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let event">
          <button
            mat-icon-button
            [routerLink]="getEventURL(event)"
            aria-label="Example icon button with a open in new tab icon"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Event Name</th>
        <td mat-cell *matCellDef="let event">{{ event.performanceId.name }}</td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef class="table-header-centered">
          Place
        </th>
        <td mat-cell *matCellDef="let event" class="table-header-centered">
          {{ event.performanceDetails.stage }} -
          {{ event.performanceDetails.venue }}
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef class="table-header-centered">
          Start Time
        </th>
        <td mat-cell *matCellDef="let event" class="table-header-centered">
          {{ event.performanceDetails.startDateTime | date : "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="performers">
        <th mat-header-cell *matHeaderCellDef class="table-header-centered">
          Performers
        </th>
        <td mat-cell *matCellDef="let event" class="table-header-centered">
          {{ event.performers }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketPrice">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Price (BGN)</th>
        <td mat-cell *matCellDef="let event">
          {{ event.ticketPrice | number : "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let event"
          [attr.colspan]="columnsToDisplayWithExpand.length"
        ></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand">
        Go to
      </tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>

      <ng-container matColumnDef="banana">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let event">
          <div
            class="banana-box"
            matTooltip="Drag and drop into Bobo's hand to remove performance."
          >
            <div #banana class="banana" draggable="true">
              {{ event.performanceId.name }}|{{ event.performanceId.eventName }}
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            matTooltip="Select all"
            #checkbox
            [indeterminate]="isIndeterminate"
            class="example-margin"
            (change)="selectAll($event)"
            (change)="makeInterminate($event)"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let event">
          <mat-checkbox
            #checkbox
            class="example-margin"
            (change)="modifySelectedEvents(event.performanceId, $event)"
          ></mat-checkbox>
        </td>
      </ng-container>
    </table>

    <br />
    <div>
      <ng-container *ngIf="!isLoading">
        <h1 class="no-events" *ngIf="customerWishlist.length === 0">
          Currently you don`t have any events added to your wishlist.
        </h1>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>

<div class="bubble">
  <div class="bubble-text">
    <p><b>There are 2 ways to remove an event from your wishlist:</b></p>
    <p>
      <b>1. </b>Select the performances you want to remove and press
      <b>Remove selected</b>.<br />
      <b>2. </b>To remove a given performance, you can drag and drop a banana on
      Bobo's hand.
    </p>
  </div>
</div>
<div class="gorilla-box" matTooltip="Bobo">
  <div #gorilla_hand id="gorilla-hand"></div>
</div>
