.container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

mat-card {
  margin: 1%;
}

.table-header-centered {
  text-align: center;
}

.no-events {
  text-align: center;
  color: darkgrey;
}

.back-btn {
  display: inline-block;
  outline: none;
  border-color: transparent;
  border: 3px solid #710daf;
  background-color: transparent;
  padding: 10px 12px;
  color: #710daf;
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transition: border-color 1s, color 1s;
}

.back-btn:hover {
  columns: #aaa;
  border-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}
.box {
  position: relative;
  top: 14%;
  left: 3%;
  transform: translate(-3%, -105%);
}

.wrapper.one {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.drop-main {
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin: 1.5rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;
}
.delay-0 {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: #710daf;
}

.delay-2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: #710daf;
}
.delay-4 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #710daf;
}
.delay-6 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: #710daf;
}
.delay-8 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: #710daf;
}

.delay-10 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
  color: #710daf;
}

.delay-12 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.delay-14 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.4s;
  color: #710daf;
}

.person-icon {
  font-size: 30px;
  width: 50px;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}

.span-profile {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  width: 50px;
  position: relative;
  background: #f0f0f0;
  color: #710daf;
  padding: 5 px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: auto 0;
  top: 6px;
  opacity: 0;
  transition: 0.6s opacity;
}

.back-btn:hover > .span-profile {
  opacity: 1;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mat-card {
  width: 80%;
}
.table {
  table-layout: fixed;
  width: 200px;
}

th,
tr,
td {
  width: 25%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.expand-first-column {
  width: 15%;
  font-style: italic;
}
.td-expand {
  padding: 5px;
}
.expanded-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-button {
  margin: 0;
  background-color: #3fb59b;
  color: white;
  margin-right: 10px;
}
.event-button:hover {
  background-color: black;
}

.remove-button {
  margin: 0;
  background-color: red;
  color: white;
  margin-right: 10px;
}

.bubble-text {
  margin-left: 2%;
  border-radius: 10px;
  border: 4px solid #3fb59b;
  position: fixed;
  padding: 5px;
  width: 15%;
  top: 32%;
  left: 80%;
  background: white;
  color: #710daf;
  font-family: sans-serif;
  font-style: italic;
  font-size: 1vw;
  line-height: 1.2;
}

.gorilla-box {
  background-image: url("src/assets/gorilla.png");
  width: 20%;
  height: 30%;
  left: 82%;
  top: 60%;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
#gorilla-hand {
  position: relative;
  width: 20%;
  height: 20%;
  left: 10%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banana-box {
  justify-content: flex-end;
  left: 80%;
  width: 50px;
  height: 50px;
}
.banana {
  background-image: url("src/assets/banana.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  color: transparent;
  cursor: grab;
  overflow: hidden;
  position: relative;
  mask-image: url("src/assets/banana.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

#remove-all{
  left: 82%;
  top: 20%;
  position: fixed;
}

#unselect-all{
  left: 82%;
  top: 25%;
  position: fixed;
}
#expand-button{
  background-color: #3fb59b;
}