.ndk-zala-1 {
  position: absolute;
  top: 30%;
  width: 60%;
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage-zala1 {
  font-weight: bold;
  height: 70px;
  width: 200px;
  margin-top: 20px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.ndk-zala1-sectors {
  top: 30%;
  left: 15%;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
}

.sector-zala1 {
  font-weight: bold;
  height: 125px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.sector-zala1:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    1px 1px #373737, 3px 3px #373737;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.5s ease;
}

.sector-zala1 button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: Transparent;
  border-radius: 0px;
}
