<div *ngIf="stageModel.sectors" class="ndk-zala-1">
  <div *ngIf="stageModel.sectors.length === 0">
    <div class="no-tickets">Coming soon...</div>
  </div>
  <div *ngIf="stageModel.sectors.length !== 0">
    <div class="stage-zala1">Stage</div>
    <div class="ndk-zala1-sectors">
      <div
        class="sector-zala1"
        [ngClass]="calculateStatus(sector)"
        *ngFor="let sector of stageModel.sectors"
      >
        <button (click)="openDialog(sector)">
          {{ sector.name }}
        </button>
      </div>
    </div>
  </div>
</div>
