<div class="dialog-content">
  <h1 mat-dialog-title>{{ sector.name }}</h1>
  <div mat-dialog-content>
    <div *ngFor="let row of sector.rows" class="row">
      <span id="row">Row {{ row.number }}: </span>
      <button
        id="changeColor"
        *ngFor="let seat of row.seats"
        class="seat seat-button"
        [ngClass]="{
          acquired: seat.status === 'ACQUIRED',
          reserved: seat.status === 'RESERVED',
          available: seat.status === 'AVAILABLE',
          selected: seat.status === 'SELECTED',
        }"
        (click)="onSeatClick(seat, row, sector, stage)"
      >
        {{ seat.number }}
      </button>
    </div>
  </div>
</div>

<div class="dialog-content2">
  <div class="sector-legend">
    <span>Available:</span><span class="seat available"></span>
    <span>Reserved:</span><span class="seat reserved"></span>
    <span>Acquired:</span><span class="seat acquired"></span>
    <span>Selected:</span><span class="seat selected"></span>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="addToCart()">
      Add in your cart
    </button>
    <button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
  </div>
</div>
