.dialog-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dialog-content2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 550px;
  display: flex;
  gap: 15px;
}

#row {
  width: 75px;
}

.sector-legend {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.seat {
  background-color: #a3ec92;
  height: 25px;
  width: 50px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
}

.acquired {
  background-color: #ff3333;
}

.reserved {
  background-color: #f4e136;
}

.available {
  background-color: #a3ec92;
}

.selected {
  background-color: blue;
}

.dialog-content2 button {
  margin: 0;
  background-color: black;
  color: white;
  margin-right: 10px;
}
.dialog-content2 button:hover {
  background-color: red;
}

.dialog-content button:hover {
  background-color: blue;
}