.festival-congress-hall {
  position: absolute;
  top: 25%;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
