<div class="container">
  <h1 class="head" *ngIf="!isDuplicate">Updating Performance</h1>
  <h1 class="head" *ngIf="isDuplicate">Duplicating Performance</h1>
  <h1 class="head">{{ subEvent.performanceId.name }}</h1>
  <form (submit)="subEventForm()">
    <mat-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Fill out the description</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description" *ngIf="isDuplicate">
            <mat-label>Performance Name</mat-label>
            <input
              matInput
              placeholder="Performance Name"
              [(ngModel)]="updatedInformation.subEventName"
              name="subEventName"
              required
              minlength="5"
              pattern="[a-zA-Zа-яА-Я0-9\s]{5,}"
            />
            <mat-error *ngIf="!updatedInformation.subEventName"
              >Performance Name is required!</mat-error
            >
            <mat-error
              *ngIf="
                updatedInformation.subEventName &&
                updatedInformation.subEventName.length < 5
              "
            >
              Performance name should be at least 5 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="description">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              maxlength="500"
              rows="9"
              name="description"
              [(ngModel)]="updatedInformation.description"
              [minlength]="8"
            ></textarea>
            <mat-icon
              matSuffix
              matTooltip="Must be at least 8 characters or empty to leave as it was before!"
            >
              info</mat-icon
            >
            <mat-error *ngIf="updatedInformation.description.length < 8">
              Description should be at least 8 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="description">
            <mat-label>Ticket Price (BGN)</mat-label>
            <input
              matInput
              placeholder="1"
              type="number"
              name="ticketPrice"
              [(ngModel)]="updatedInformation.ticketPrice"
              min="1"
            />
            <mat-error *ngIf="updatedInformation.ticketPrice <= 1"
              >Ticket Price should be greater than 1.00!
            </mat-error>
          </mat-form-field>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              class="submit-button"
              matStepperNext
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out the location and time</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description">
            <mat-icon
              matPrefix
              matTooltip="The combination of the fields on this step must be unique!"
            >
              info</mat-icon
            >
            <mat-label>Venue</mat-label>
            <mat-select [(ngModel)]="updatedInformation.venue" name="venue">
              <mat-option
                *ngFor="let venue of possibleVenues"
                [value]="venue"
                >{{ venue }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="description">
            <mat-icon
              matPrefix
              matTooltip="The combination of the fields on this step must be unique!"
            >
              info</mat-icon
            >
            <mat-label>Stage</mat-label>
            <mat-select [(ngModel)]="updatedInformation.stage" name="stage">
              <mat-option
                *ngFor="let stage of possibleStages[updatedInformation.venue]"
                [value]="stage"
                >{{ stage }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-hint class="description"
            >Previous date and time:
            {{ subEvent.performanceDetails.startDateTime | date : "short" }}
            <mat-icon
              class="description"
              matSuffix
              matTooltip="Keep in mind that you should insert the time in UTC."
            >
              info</mat-icon
            ></mat-hint
          >
          <br />
          <mat-form-field class="description" subscriptSizing="dynamic">
            <mat-icon
              matPrefix
              matTooltip="The combination of the fields on this step must be unique!"
            >
              info</mat-icon
            >
            <mat-label>Start Time</mat-label>
            <input
              matInput
              [ngxMatTimepicker]="startTime"
              [format]="24"
              [(ngModel)]="updatedInformation.time"
              [ngModelOptions]="{ standalone: true }"
              [readonly]="true"
            />
          </mat-form-field>
          <br />
          <ngx-mat-timepicker
            #startTime
            [enableKeyboardInput]="true"
          ></ngx-mat-timepicker>
          <mat-form-field class="description" backgroundColor="primary">
            <mat-icon
              matPrefix
              matTooltip="The combination of the fields on this step must be unique!"
            >
              info</mat-icon
            >
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="updatedInformation.date"
              [ngModelOptions]="{ standalone: true }"
              [min]="updatedInformation.date"
              [readonly]="true" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              color="primary"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <br
          /></mat-form-field>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              class="submit-button"
              matStepperNext
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add performers (Optional)</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description">
            <mat-label>All Performers in the system</mat-label>
            <mat-select
              matTooltip="Click to see all of the performers in the system"
              name="performersMenu"
            >
              <mat-option
                *ngFor="let performer of allPerformers"
                (onSelectionChange)="toPerformers(performer.name, $event)"
                >{{ performer.name }}</mat-option
              >
            </mat-select>
            <mat-icon
              matSuffix
              matTooltip="Performers can be added by clicking on them from this menu."
            >
              info</mat-icon
            >
          </mat-form-field>
          <mat-form-field class="description">
            <mat-label>Performers for this performance</mat-label>
            <mat-hint>Insert the performers seperated by a ','</mat-hint>
            <input
              matInput
              [(ngModel)]="updatedInformation.performers"
              name="performers"
              value="{{ updatedInformation.performers }}"
            />
          </mat-form-field>
          <div>
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              class="submit-button"
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h1 class="head title">
          You are done. You can go back and check everything.
        </h1>
        <br />
        <div>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              class="submit-button"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="
                isDuplicate &&
                !updatedInformation.subEventName &&
                updatedInformation.subEventName.length < 5
              "
            >
              Submit
            </button>
            <button
              class="discard-button"
              mat-raised-button
              color="warn"
              type="button"
              matDialogClose
            >
              Discard
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
