.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.head {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.title {
  padding: 30px;
  background-color: #48dc9444;
  color: #710daf;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-radius: 130px;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #48dc94;
}

.sub-event-form {
  display: flex;
  flex-direction: column;
}
.sub-event-form .description {
  margin: auto;
  width: 50%;
}
.sub-event-form .description textarea {
  resize: none;
}
.form-buttons {
  margin: auto;
  width: 90%;
}
.discard-button {
  float: right;
  width: fit-content;
  background-color: #fd495b;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.back-button {
  float: left;
  width: fit-content;
  margin-left: 5px;
  background-color: #430dafa8;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.back-button:hover {
  background-color: #430dafe2;
}

.submit-button {
  float: right;
  width: fit-content;
  margin-left: 5px;
  background-color: #48dc94;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.discard-button:hover,
.submit-button:hover {
  float: right;
  width: fit-content;
  margin-left: 5px;
  background-color: #710dafb4;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
