.group {
  width: 90%;
  margin: auto;
}

.link {
  font-style: italic;
  color: #710daf;
  text-decoration: underline;
}

.back-btn {
  display: inline-block;
  outline: none;
  border-color: transparent;
  border: 3px solid #710daf;
  background-color: transparent;
  padding: 10px 12px;
  color: #710daf;
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  transition: border-color 1s, color 1s;
}

.back-btn:hover {
  columns: #aaa;
  border-color: transparent;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}
.box {
  position: relative;
  top: 14%;
  left: 3%;
  transform: translate(-3%, -105%);
}

.wrapper.one {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.drop-main {
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin: 1.5rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;
}
.delay-0 {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: #710daf;
}

.delay-2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: #710daf;
}
.delay-4 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #710daf;
}
.delay-6 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: #710daf;
}
.delay-8 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: #710daf;
}

.delay-10 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
  color: #710daf;
}

.delay-12 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.person-icon {
  font-size: 30px;
  width: 50px;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}

.span-profile {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  width: 50px;
  position: relative;
  background: #f0f0f0;
  color: #710daf;
  padding: 5 px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: auto 0;
  top: 6px;
  opacity: 0;
  transition: 0.6s opacity;
}

.back-btn:hover > .span-profile {
  opacity: 1;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.title {
  padding: 20px;
  background-color: #f2f3f4;
  color: #48dc94;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  border-radius: 130px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #710daf;
}

mat-card {
  margin: 1%;
}

.table-header-centered {
  text-align: center;
}

.heart {
  height: 20px;
  width: 20px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  animation: heart 0.6s linear infinite;
}
@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #f20044;
  top: -50%;
  border-radius: 10px;
}

.heart::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #f20044;
  right: -50%;
  border-radius: 10px;
}
.no-events {
  padding-top: 15px;
  text-align: center;
  color: darkgrey;
}
