<div class="wrapper one">
  <div class="drop-main">
    <div class="delay-0">TI</div>
    <div class="delay-2">CK</div>
    <div class="delay-4">ET</div>
    <div class="delay-6">&nbsp;</div>
    <div class="delay-8">HI</div>
    <div class="delay-10">STO</div>
    <div class="delay-12">RY</div>
  </div>
</div>
<div class="box">
  <button class="back-btn" (click)="onClickProfile()">
    <mat-icon class="person-icon">person</mat-icon>
    <span class="span-profile">Profile</span>
  </button>
</div>

<mat-tab-group class="group">
  <mat-tab label="Past Events">
    <ng-template matTabContent>
      <app-tickets-table
        *ngIf="pastTickets.length > 0; else noTickets"
        [tickets]="pastTickets"
      ></app-tickets-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Future Events">
    <ng-template matTabContent>
      <app-tickets-table
        *ngIf="futureTickets.length > 0; else noTickets"
        [tickets]="futureTickets"
      ></app-tickets-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<ng-template #noTickets>
  <ng-container *ngIf="!isLoading">
    <h1 class="no-events">
      You don't have any tickets...<br /><a class="link" routerLink="/events"
        >Buy Here!</a
      >
    </h1>
  </ng-container>
</ng-template>
