.ivan-vazov-national-theatre {
  position: absolute;
  top: 25%;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-scene {
  position: absolute;
  font-weight: bold;
  height: 45px;
  width: 25%;
  top: 1%;
  left: 35%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}
.big-scene-sector {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.big-scene-sector:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    1px 1px #373737, 3px 3px #373737;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.5s ease;
}
.big-scene-sector button {
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: Transparent;
  border-radius: 0px;
}

#big-scene-sector-1 {
  position: absolute;
  top: 26%;
  left: 34%;
  width: 26%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#big-scene-sector-2 {
  position: absolute;
  top: 40%;
  left: 64%;
  width: 5%;
  height: 125px;
  transform: rotate(15deg);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#big-scene-sector-2 span {
  transform: rotate(-20deg);
}

#big-scene-sector-3 {
  position: absolute;
  top: 84%;
  left: 34%;
  width: 26%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#big-scene-sector-4 {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 5%;
  height: 125px;
  transform: rotate(-15deg);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#big-scene-sector-4 span {
  transform: rotate(20deg);
}

#big-scene-sector-5 {
  position: absolute;
  top: 70%;
  left: 67%;
  width: 5%;
  height: 100px;
  transform: rotate(40deg);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#big-scene-sector-6 {
  position: absolute;
  top: 98%;
  left: 36%;
  width: 22%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#big-scene-sector-7 {
  position: absolute;
  top: 70%;
  left: 22%;
  width: 5%;
  height: 100px;
  transform: rotate(-40deg);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
