<div class="ivan-vazov-national-theatre" *ngIf="stageModel.sectors">
  <div *ngIf="stageModel.sectors.length === 0">
    <div class="no-tickets">Coming soon...</div>
  </div>
  <div *ngIf="stageModel.sectors.length !== 0">
    <div class="big-scene">Сцена</div>
    <div
      id="big-scene-sector-1"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[0])"
      title="Сектор 1"
    >
      <button (click)="openDialog(stageModel.sectors[0])">
        {{ stageModel.sectors[0].name }}
      </button>
    </div>
    <div
      id="big-scene-sector-2"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[1])"
      title="Сектор 2"
    >
      <button (click)="openDialog(stageModel.sectors[1])">
        <span>{{ stageModel.sectors[1].name[7] }}</span>
      </button>
    </div>
    <div
      id="big-scene-sector-3"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[2])"
      title="Сектор 3"
    >
      <button (click)="openDialog(stageModel.sectors[2])">
        <span>{{ stageModel.sectors[2].name[7] }}</span>
      </button>
    </div>
    <div
      id="big-scene-sector-4"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[3])"
      title="Сектор 4"
    >
      <button (click)="openDialog(stageModel.sectors[3])">
        <span>{{ stageModel.sectors[3].name[7] }}</span>
      </button>
    </div>
    <div
      id="big-scene-sector-5"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[4])"
      title="Сектор 5"
    >
      <button (click)="openDialog(stageModel.sectors[4])">
        <span>{{ stageModel.sectors[4].name[7] }}</span>
      </button>
    </div>
    <div
      id="big-scene-sector-6"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[5])"
      title="Сектор 6"
    >
      <button (click)="openDialog(stageModel.sectors[5])">
        <span>{{ stageModel.sectors[5].name[7] }}</span>
      </button>
    </div>
    <div
      id="big-scene-sector-7"
      class="big-scene-sector"
      [ngClass]="calculateStatus(stageModel.sectors[6])"
      title="Сектор 7"
    >
      <button (click)="openDialog(stageModel.sectors[6])">
        <span>{{ stageModel.sectors[6].name[7] }}</span>
      </button>
    </div>
  </div>
</div>
