<h1 class="header" mat-dialog-title>
  {{ stageModel.venueName + " " }} - {{ stageModel.stageName }}
</h1>
<div mat-dialog-content>
  <div *ngIf="stageModel" class="stage-box">
    <app-stage
      [stageModel]="stageModel"
      [event]="event"
      [subEvent]="subEvent"
    ></app-stage>
  </div>
</div>
<div class="stage-info">
  <div class="row">
    <div class="dot-acquired"></div>
    <p>- All tickets have been purchased.</p>
  </div>
  <div class="row">
    <div class="dot-reserved"></div>
    <p>- All tickets are reserved and/or purchased.</p>
  </div>
  <div class="row">
    <div class="dot-available"></div>
    <p>- There are tickets available.</p>
  </div>
  <div class="info-text">
    Click on any of the sectors to see the status of the seats.
  </div>
</div>
<div mat-dialog-actions>
  <button class="close-button" mat-button (click)="onNoClick()">Close</button>
</div>
