.header {
  position: absolute;
  left: 5%;
  width: 95%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.stage-box {
  margin: 10% 20% 30px 5%;
  width: 60%;
  height: 350px;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stage-info {
  border-radius: 5px;
  position: absolute;
  top: 21%;
  left: 67%;
  width: 30%;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: left;
}

.row {
  display: flex;
  gap: 15px;
  height: 15%;
}

.close-button {
  position: absolute;
  top: 85%;
  left: 85%;
  background-color: black;
  color: white;
}
.dot-available {
  height: 100%;
  width: 25px;
  display: inline-block;
  background-color: #a3ec92;
}

.dot-reserved {
  height: 100%;
  width: 25px;
  display: inline-block;
  background-color: #f4e136;
}

.dot-acquired {
  height: 100%;
  width: 25px;
  display: inline-block;
  background-color: #ff3333;
}

.close-button:hover {
  background-color: red;
}

div p {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.info-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}
