.monkeyDrop {
  position: absolute;
  top: 0;
  width: 75px;
  z-index: 9999;
  opacity: 1;
  animation: monkeyDrop 1.5s linear forwards;
  color: #710daf;
}

@keyframes monkeyDrop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(70vh);
    opacity: 0;
  }
}
