.container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.back-btn {
  display: inline-block;
  border: 3px solid #710daf;
  background-color: transparent;
  padding: 10px 15px;
  color: #710daf;
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: border-color 1s, color 1s;
}

.back-btn:hover {
  columns: #aaa;
  border-color: #aaa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
}
.box {
  position: relative;
  top: 14%;
  left: 3%;
  transform: translate(-3%, -105%);
}

.person-icon {
  font-size: 30px;
  width: 50px;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}

.span-profile {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  width: 50px;
  position: relative;
  background: #f0f0f0;
  color: #710daf;
  padding: 5 px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: auto 0;
  top: 6px;
  opacity: 0;
  transition: 0.6s opacity;
}

.back-btn:hover > .span-profile {
  opacity: 1;
}

.wrapper.one {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.drop-main {
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin: 1.5rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;
}
.Sca {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: #710daf;
}

.Hca {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: #710daf;
}
.Oca {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #710daf;
}
.Pca {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: #710daf;
}
.Pca2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: #710daf;
}

.Ica {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
  color: #710daf;
}

.Nca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.Gca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.SPca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.Cca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.Aca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.Rca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.Tca {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.emptyListReviews {
  text-align: center;
  color: darkgrey;
}

mat-card {
  margin: 1%;
}

.table-header-centered {
  text-align: center;
}

.stars {
  font-size: 24px;
}

.button-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.payment-button,
.delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 36px;
  border-radius: 50px;
  background-color: #3fb59b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
  font-size: 14px;
}

.payment-button:hover,
.delete-button:hover {
  background-color: #710dafa6;
}
