<div class="wrapper one">
  <div class="drop-main">
    <div class="Sca">S</div>
    <div class="Hca">H</div>
    <div class="Oca">O</div>
    <div class="Pca">P</div>
    <div class="Pca2">P</div>
    <div class="Ica">I</div>
    <div class="Nca">N</div>
    <div class="Gca">G</div>
    <div class="SPca">&nbsp;</div>
    <div class="Cca">C</div>
    <div class="Aca">A</div>
    <div class="Rca">R</div>
    <div class="Tca">T</div>
  </div>
</div>

<div class="box">
  <button class="back-btn" (click)="onClickProfile()">
    <mat-icon class="person-icon">person</mat-icon>
    <span class="span-profile">Profile</span>
  </button>
</div>

<div class="button-cart-container">
  <button
    class="payment-button"
    (click)="onClickOrder()"
    [disabled]="selectedItems.length === 0"
  >
    Order
  </button>

  <button
    class="delete-button"
    (click)="onDeleteSelectedItems()"
    [disabled]="selectedItems.length === 0"
  >
    Delete
  </button>
</div>

<mat-card>
  <mat-card-content>
    <table
      [ngClass]="{ hidden: !hasCart }"
      multiTemplateDataRows
      matSort
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="Cart Table"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let item">
          <input type="checkbox" (change)="onCheckboxChange($event, item)" />
        </td>
      </ng-container>

      <ng-container matColumnDef="performance">
        <th mat-sort-header mat-sort-header mat-header-cell *matHeaderCellDef>
          Performance
        </th>
        <td mat-cell *matCellDef="let item" style="width: 29%">
          <div>
            {{ item.event }}
          </div>
          <div>
            {{ item.subEvent }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let item" style="width: 30%">
          <div>
            <strong>Start time:</strong>
            {{ item.performance.startDateTime | date : "short" }}
          </div>
          <div><strong>Venue:</strong> {{ item.performance.venue }}</div>
          <div><strong>Stage:</strong> {{ item.performance.stage }}</div>
          <div><br /></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef>Sector - Row - Seat</th>
        <td mat-cell *matCellDef="let item" style="width: 20%">
          {{ item.sector }} - {{ item.row }} - {{ item.seat.number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let item" style="width: 8%">
          {{ item.seat.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Price in BGN</th>
        <td mat-cell *matCellDef="let item" style="width: 8%">
          {{ item.price }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />
    <mat-card-footer [ngClass]="{ hidden: !hasCart }">
      <mat-paginator
        [length]="customerCart.length"
        [pageSizeOptions]="[3, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
    <div>
      <ng-container *ngIf="!isLoading">
        <h1 class="emptyListReviews" *ngIf="!hasCart">
          You don't have reserved tickets yet!
        </h1>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
