form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin: auto;
}
.office-name {
  width: 66%;
}
.button-container {
  margin: auto;
}
button {
  padding: 8px 20px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #710dafb4;
}
.main-button {
  margin-right: 10px;
  background-color: #48dc94;
}
.reset-button {
  margin-left: 10px;
  background-color: #f0639b;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
caption {
  text-align: start;
}
.icon-caption {
  font-size: 15px;
}
