<form [formGroup]="officeForm" (ngSubmit)="sendOfficeToParent()">
  <mat-form-field class="office-name">
    <mat-label>Name</mat-label>
    <mat-icon
      *ngIf="isOfficeCreation"
      matSuffix
      matTooltip="Must be unique! Allowed only letters, numbers and the following special symbols: \.№,'-"
      >info</mat-icon
    >
    <input matInput type="text" formControlName="officeName" />
    <mat-error *ngIf="officeForm.get('officeName')?.hasError('required')"
      >Field must not be empty!</mat-error
    >
    <mat-error *ngIf="officeForm.get('officeName')?.hasError('minlength')"
      >Field must have a minimum of 5 symbols!</mat-error
    >
    <mat-error *ngIf="officeForm.get('officeName')?.hasError('maxlength')"
      >Field must have a maximum of 30 symbols!</mat-error
    >
    <mat-error *ngIf="officeForm.get('officeName')?.hasError('pattern')"
      >Invalid format</mat-error
    >
  </mat-form-field>

  <table aria-label="Office Address Sub-form">
    <caption>
      Address
      <mat-icon
        matSuffix
        class="icon-caption"
        matTooltip="City and Street must be unique"
        >info</mat-icon
      >
    </caption>
    <th></th>
    <tbody>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>City</mat-label>
            <mat-select formControlName="city">
              <mat-option *ngFor="let city of Cities" [value]="city">{{
                city
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="officeForm.get('city')?.hasError('required')"
              >Field must not be empty!</mat-error
            >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Post Code</mat-label>
            <mat-icon
              matSuffix
              matTooltip="Post code must contain only Uppercase letters and
      digits!"
              >info</mat-icon
            >
            <input matInput type="text" formControlName="postCode" />
            <mat-error *ngIf="officeForm.get('postCode')?.hasError('required')"
              >Field must not be empty!</mat-error
            >
            <mat-error *ngIf="officeForm.get('postCode')?.hasError('minlength')"
              >Field must have a minimum of 3 symbols!</mat-error
            >
            <mat-error *ngIf="officeForm.get('postCode')?.hasError('maxlength')"
              >Field must have a maximum of 10 symbols!</mat-error
            >
            <mat-error *ngIf="officeForm.get('postCode')?.hasError('pattern')"
              >Invalid format!</mat-error
            >
          </mat-form-field>
        </td>
        <td style="width: 50%">
          <mat-form-field style="width: 100%">
            <mat-label>Street</mat-label>
            <mat-icon
              matSuffix
              matTooltip="Allowed only letters, number and the following
              special symbols: \.№,'-.!"
              >info</mat-icon
            >
            <input matInput type="text" formControlName="street" />
            <mat-error *ngIf="officeForm.get('street')?.hasError('required')"
              >Field must not be empty!</mat-error
            >
            <mat-error *ngIf="officeForm.get('street')?.hasError('minlength')"
              >Field must have a minimum of 5 symbols!</mat-error
            >
            <mat-error *ngIf="officeForm.get('street')?.hasError('maxlength')"
              >Field must have a maximum of 30 symbols!</mat-error
            >
            <mat-error *ngIf="officeForm.get('street')?.hasError('pattern')"
              >Invalid format!</mat-error
            >
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
  <table aria-label="Office Phone Sub-form">
    <caption>
      Contact Information
      <mat-icon
        matSuffix
        class="icon-caption"
        matTooltip="Phone code and number must be unique"
        >info</mat-icon
      >
    </caption>
    <th></th>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Phone Code</mat-label>
          <mat-select formControlName="code">
            <mat-option *ngFor="let code of PhoneCodes" [value]="code">{{
              code
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="officeForm.get('code')?.hasError('required')"
            >Field must not be empty!</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Number</mat-label>
          <mat-icon
            matSuffix
            matTooltip="Only numbers! First digit must not be 0!"
            >info</mat-icon
          >
          <input matInput type="tel" formControlName="number" />
          <mat-error *ngIf="officeForm.get('number')?.hasError('required')"
            >Field must not be empty!</mat-error
          >
          <mat-error *ngIf="officeForm.get('number')?.hasError('minlength')"
            >Field must have a minimum of 8 numbers!</mat-error
          >
          <mat-error *ngIf="officeForm.get('number')?.hasError('maxlength')"
            >Field must have a maximum of 9 numbers!</mat-error
          >
          <mat-error *ngIf="officeForm.get('number')?.hasError('pattern')"
            >Invalid format!</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-icon matSuffix matTooltip="Must be unique">info</mat-icon>
          <mat-error *ngIf="officeForm.get('email')?.hasError('required')"
            >Field must not be empty!</mat-error
          >
          <mat-error *ngIf="officeForm.get('email')?.hasError('minlength')"
            >Field must have a minimum of 2 symbols!</mat-error
          >
          <mat-error *ngIf="officeForm.get('email')?.hasError('maxlength')"
            >Field must have a maximum of 30 symbols!</mat-error
          >
          <mat-error *ngIf="officeForm.get('email')?.hasError('pattern')"
            >Field must be in email format!</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table aria-label="Office Working Hours Sub-form">
    <caption>
      Working Hours
    </caption>
    <th></th>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Opening Time</mat-label>
          <input
            matInput
            [ngxMatTimepicker]="startTime"
            [format]="24"
            formControlName="startTime"
            [readonly]="true"
          />
          <mat-icon matSuffix (click)="startTime.open()">
            watch_later
          </mat-icon>
          <mat-error *ngIf="officeForm.get('startTime')?.hasError('required')"
            >Field must not be empty!</mat-error
          >
        </mat-form-field>
        <ngx-mat-timepicker
          #startTime
          [enableKeyboardInput]="true"
        ></ngx-mat-timepicker>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Closing Time</mat-label>
          <input
            matInput
            [ngxMatTimepicker]="endTime"
            [format]="24"
            formControlName="endTime"
            [readonly]="true"
          />
          <mat-icon matSuffix (click)="endTime.open()"> watch_later </mat-icon>
          <mat-error *ngIf="officeForm.get('endTime')?.hasError('required')"
            >Field must not be empty!</mat-error
          >
          <mat-error
            *ngIf="officeForm.get('endTime')?.hasError('invalidPeriod')"
            >Closing Time cannot be before Opening Time!</mat-error
          >
        </mat-form-field>
        <ngx-mat-timepicker
          #endTime
          [enableKeyboardInput]="true"
        ></ngx-mat-timepicker>
      </td>
    </tr>
  </table>
  <table aria-label="Office Workers Sub-form">
    <th></th>
    <td>
      <mat-form-field>
        <mat-label>Assign Workers</mat-label>
        <mat-select formControlName="workers" multiple>
          <mat-select-trigger>
            {{ officeForm.value.workers[0] || "" }}
            <span
              *ngIf="(officeForm.value.workers.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (officeForm.value.workers.length || 0) - 1 }}
              {{ officeForm.value.workers.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let worker of workersToChoose" [value]="worker">{{
            worker
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </table>

  <div class="button-container">
    <button mat-button [disabled]="!officeForm.valid" class="main-button">
      {{ isOfficeCreation ? "Create" : "Update" }}
    </button>
    <button mat-button class="reset-button" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
</form>
