.loading-cicle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-weight: bold;
  text-decoration: underline;
}
.eveten-list-tiel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.error-massage {
  background-color: red;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
