<app-event-search></app-event-search>
<div class="eveten-list-tiel">
  <h1 class="title">{{ this.eventListTitle }}</h1>
</div>
<div class="loading-cicle">
  <h1 class="error-massage">{{ this.errorSearchMassage }}</h1>
</div>
<div class="event-list">
  <mat-spinner class="loading-cicle" *ngIf="loadingFlag"></mat-spinner>
  <app-event-list
    [eventList]="eventList | filter : searchText"
    *ngIf="!loadingFlag"
  ></app-event-list>
</div>
