form {
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
}
.office-name {
  width: 66%;
}
.button-container {
  margin: auto;
}
button {
  padding: 8px 20px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #710dafb4;
}
.main-button {
  margin-right: 10px;
  background-color: #48dc94;
}
.reset-button {
  margin-left: 10px;
  background-color: #f0639b;
}
.acordions {
  padding: 10%;
}
.acordion {
  padding-bottom: 5%;
}
