<div class="acordions">
  <mat-accordion class="acordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> location_on</mat-icon> Address settings</mat-panel-title
        >
        <mat-panel-description>
          To update your city, streat and post code.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="addressForm" (ngSubmit)="updateAddress()">
        <table aria-label="Custome update city">
          <!-- Table used to format the form inputs for new address of the user-->
          <th></th>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city" />
                <mat-error *ngIf="addressForm.get('city')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('city')?.hasError('minlength')"
                  >Field must have a minimum of 3 symbols!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('city')?.hasError('maxlength')"
                  >Field must have a maximum of 10 symbols!</mat-error
                >
                <mat-error *ngIf="addressForm.get('city')?.hasError('pattern')"
                  >City must contain only Uppercase letter and
                  digits!</mat-error
                >
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <mat-label>Street</mat-label>
                <input matInput type="text" formControlName="street" />
                <mat-error
                  *ngIf="addressForm.get('street')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('street')?.hasError('minlength')"
                  >Field must have a minimum of 5 symbols!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('street')?.hasError('maxlength')"
                  >Field must have a maximum of 30 symbols!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('street')?.hasError('pattern')"
                  >The pattern for the street. Allows: Different language
                  letters, blank spaces, numbers and symbols("'.-).</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Post Code</mat-label>
                <input matInput type="text" formControlName="postCode" />
                <mat-error
                  *ngIf="addressForm.get('postCode')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('postCode')?.hasError('minlength')"
                  >Field must have a minimum of 3 symbols!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('postCode')?.hasError('maxlength')"
                  >Field must have a maximum of 10 symbols!</mat-error
                >
                <mat-error
                  *ngIf="addressForm.get('postCode')?.hasError('pattern')"
                  >Post code must contain only Uppercase letter and
                  digits!</mat-error
                >
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <div class="input-box"></div> </mat-expansion-panel></mat-accordion
  ><br />
  <mat-accordion class="acordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><mat-icon>settings_phone</mat-icon> Phone settings
        </mat-panel-title>
        <mat-panel-description>
          To update your phone number and phone code.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="phoneForm" (ngSubmit)="updatePhone()">
        <table aria-label="CustomerPhone">
          <!-- Table used to format the form inputs for new phone contact of the user-->
          <th></th>
          <th></th>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Number</mat-label>
                <input matInput type="tel" formControlName="number" />
                <mat-error *ngIf="phoneForm.get('number')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="phoneForm.get('number')?.hasError('minlength')"
                  >Field must have a minimum of 2 symbols!</mat-error
                >
                <mat-error
                  *ngIf="phoneForm.get('number')?.hasError('maxlength')"
                  >Field must have a maximum of 30 symbols!</mat-error
                >
                <mat-error *ngIf="phoneForm.get('number')?.hasError('pattern')"
                  >Only positive numbers, but the first digit must not be
                  0!</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Phone Code</mat-label>
                <mat-select formControlName="code">
                  <mat-option *ngFor="let code of PhoneCodes" [value]="code">{{
                    code
                  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="phoneForm.get('code')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-expansion-panel></mat-accordion
  ><br />
  <mat-accordion class="acordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><mat-icon> vpn_key</mat-icon> Password settings
        </mat-panel-title>
        <mat-panel-description>
          To update your password.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <table aria-label="Update password form">
          <!-- Table used to format the form inputs for new password contact of the user-->

          <th></th>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                <mat-error
                  *ngIf="passwordForm.get('password')?.hasError('required')"
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="passwordForm.get('password')?.hasError('minlength')"
                  >Field must have a minimum of 2 symbols!</mat-error
                >
                <mat-error
                  *ngIf="passwordForm.get('password')?.hasError('maxlength')"
                  >Field must have a maximum of 30 symbols!</mat-error
                >
                <mat-error
                  *ngIf="passwordForm.get('password')?.hasError('pattern')"
                  >Only positive numbers, but the first digit must not be
                  0!</mat-error
                >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="confirmPassword"
                />
                <mat-error
                  *ngIf="
                    passwordForm.get('confirmPassword')?.hasError('required')
                  "
                  >Field must not be empty!</mat-error
                >
                <mat-error
                  *ngIf="
                    customerForm.get('confirmPassword')?.hasError('minlength')
                  "
                  >Field must have a minimum of 2 symbols!</mat-error
                >
                <mat-error
                  *ngIf="
                    customerForm.get('confirmPassword')?.hasError('maxlength')
                  "
                  >Field must have a maximum of 30 symbols!</mat-error
                >
                <mat-error
                  *ngIf="
                    customerForm.get('confirmPassword')?.hasError('pattern')
                  "
                  >Field must be in phone code format!</mat-error
                >
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-expansion-panel></mat-accordion
  ><br /><br />
  <div class="input-box">
    <button
      [disabled]="
        (!this.passwordForm.valid &&
          !this.phoneForm.valid &&
          !this.addressForm.valid) ||
        this.passwordForm.get('password')?.hasError('pattern') ||
        passwordForm.get('password')?.hasError('maxlength') ||
        passwordForm.get('password')?.hasError('minlength') ||
        phoneForm.get('number')?.hasError('pattern') ||
        phoneForm.get('number')?.hasError('maxlength') ||
        phoneForm.get('number')?.hasError('minlength') ||
        addressForm.get('postCode')?.hasError('pattern') ||
        addressForm.get('postCode')?.hasError('maxlength') ||
        addressForm.get('postCode')?.hasError('minlength') ||
        addressForm.get('street')?.hasError('pattern') ||
        addressForm.get('street')?.hasError('maxlength') ||
        addressForm.get('street')?.hasError('minlength') ||
        addressForm.get('city')?.hasError('pattern') ||
        addressForm.get('city')?.hasError('maxlength') ||
        addressForm.get('city')?.hasError('minlength')
      "
      mat-raised-button
      color="primary"
      class="submit"
      (click)="updateAll()"
    >
      Submit all changes
    </button>
  </div>
</div>
