<mat-card>
  <mat-card-header>
    <h2>Order Details</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="order-info">
      <p>
        <strong>Customer Name:</strong> {{ order.personName.givenName }}
        {{ order.personName.familyName }}
      </p>
      <p>
        <strong>Creation Date:</strong>
        {{ order.creationDate | date : "longDate" }}
      </p>
      <p><strong>Payment Type:</strong> {{ order.paymentType }}</p>
      <p><strong>Delivery Type:</strong> {{ order.deliveryType }}</p>

      <div class="delivery-address" *ngIf="order.unrestrictedAddress">
        <h3>Delivery Address</h3>
        <p><strong>Street:</strong> {{ order.unrestrictedAddress.street }}</p>
        <p><strong>City:</strong> {{ order.unrestrictedAddress.city }}</p>
        <p>
          <strong>Post Code:</strong> {{ order.unrestrictedAddress.postCode }}
        </p>
      </div>

      <p><strong>Purchase Status:</strong> {{ order.purchaseStatus }}</p>
    </div>

    <div class="ticket-list">
      <h3>Tickets</h3>
      <mat-table [dataSource]="order.tickets" class="mat-elevation-z8">
        <ng-container matColumnDef="subEventName">
          <th mat-header-cell *matHeaderCellDef>Event</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.performanceId.eventName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="seatSector">
          <th mat-header-cell *matHeaderCellDef>Sector</th>
          <td mat-cell *matCellDef="let ticket">{{ ticket.sector }}</td>
        </ng-container>

        <ng-container matColumnDef="seatRow">
          <th mat-header-cell *matHeaderCellDef>Row</th>
          <td mat-cell *matCellDef="let ticket">{{ ticket.row }}</td>
        </ng-container>

        <ng-container matColumnDef="seatNumber">
          <th mat-header-cell *matHeaderCellDef>Seat</th>
          <td mat-cell *matCellDef="let ticket">{{ ticket.seat.number }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.price | number : "1.2-2" }}
            BGN
          </td>
        </ng-container>

        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>Discount</th>
          <td mat-cell *matCellDef="let ticket">
            {{ ticket.discount.string }} {{ ticket.discount.percentage }}%
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let ticket">
            {{
              ticket.price - (ticket.price * ticket.discount.percentage) / 100
                | number : "1.2-2"
            }}
            BGN
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="[
            'subEventName',
            'seatSector',
            'seatRow',
            'seatNumber',
            'price',
            'discount',
            'total'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'subEventName',
              'seatSector',
              'seatRow',
              'seatNumber',
              'price',
              'discount',
              'total'
            ]
          "
        ></tr>
      </mat-table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-button color="warn">Cancel Order</button>
  </mat-card-actions>
</mat-card>
