<body>
  <div class="container" *ngIf="!isLoading; else stillLoading">
    <br />
    <h2>Most popular events</h2>
    <app-event-tabs [subEventList]="this.subEventByPopularity"></app-event-tabs>
    <br />
    <hr />
    <div class="new-events">
      <h2>New Events</h2>
      <mat-card *ngFor="let tile of tiles; index as i">
        <mat-card-header>
          <div mat-card-avatar [class]="'class' + (i + 1)"></div>
        </mat-card-header>
        <mat-card-content>
          <a routerLink="events/{{ tile.containingEvent }}/sub-events">
            {{ tile.containingEvent }}
            <br />
            {{ tile.text }}
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <ng-template #stillLoading>
    <app-loading-buffer></app-loading-buffer>
  </ng-template>
</body>
