.container {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
}
.new-events {
  width: 80%;
  margin: auto;
}
mat-grid-tile {
  font-size: larger;
  font-weight: bold;
}
hr {
  width: 82%;
}

mat-card {
  display: inline-block;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: transform 0.5s;
}
mat-card:hover {
  transform: translateY(-10px);
}

.class1 {
  width: 245px;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px 15px;
  background-image: url(src\assets\Lili.jpg);
  background-position: center;
  background-size: cover;
}
.class2 {
  width: 245px;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px 15px;
  background-image: url(src\assets\Lili2.jpg);
  background-position: center;
  background-size: cover;
}
.class3 {
  width: 245px;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px 15px;
  background-image: url(src\assets\hamlet1.jpg);
  background-position: left 10px;
  background-size: cover;
}
.class4 {
  width: 245px;
  height: 190px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px 15px;
  background-image: url(src\assets\hamlet2.jpg);
  background-position: top;
  background-size: cover;
}
