.cards {
  padding-left: 10px;
  padding-bottom: 10px;
}
mat-card {
  width: 150px;
  height: 250px;
}

mat-card:hover {
  cursor: pointer;
}

mat-card-content {
  padding: 2px;
  height: 300px;
  overflow: hidden;
}

mat-card-actions {
  margin-left: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.card-header {
  background-color: #673ab7; /* Replace with your desired primary color */
  color: white;
}

.card-holder {
  padding: 30px;
}

#wishlist-button{
  position: fixed;
  left: 92%;
}