<a *ngIf="role == 'CUSTOMER'" matTooltip="To wishlist" id="wishlist-button" routerLink="/customers/{{ username }}/wishlist">
  <button mat-fab color="accent" class="profile-button">
    <mat-icon >menu</mat-icon>
  </button>
</a>
<div class="card-holder" fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex *ngFor="let card of eventList" class="cards">
    <mat-card>
      <mat-card-header
        class="card-header"
        (click)="goToEvent(card.name)"
        matTooltip="Go to {{ card.name }} event"
      >
        <a href="#/events/{{ card.name }}/sub-events">
          <mat-card-title>{{ card.name }}</mat-card-title>
        </a>
      </mat-card-header>
      <mat-card-content
        matTooltip="Read more"
        (click)="readMore(readMoreDialogue)"
      >
        {{ card.description }}
        <br />
        <b>Genre: {{ card.genre }}</b>
      </mat-card-content>
      <mat-card-actions *ngIf="isAdmin">
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Update {{ card.name }}"
          (click)="updateEvent(card.name)"
        >
          <mat-icon>update</mat-icon>
        </button>
      </mat-card-actions>
      <ng-template #readMoreDialogue>
        <h2 matDialogTitle>{{ card.name }}</h2>
        <mat-dialog-content
          >{{ card.description }}
          <br />
          <b>Genre: </b>{{ card.genre }}
        </mat-dialog-content>
        <mat-dialog-actions>
          <button mat-button matDialogClose color="primary">Close</button>
        </mat-dialog-actions>
      </ng-template>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
