<div class="wrapper one" *ngIf="customerProfile">
  <div class="drop-main">
    <div class="delay-0">Cu</div>
    <div class="delay-2">st</div>
    <div class="delay-4">om</div>
    <div class="delay-6" ngPreserveWhitespaces>{{ "er&nbsp;" }}</div>
    <div class="delay-8">pr</div>
    <div class="delay-10">of</div>
    <div class="delay-12">il</div>
    <div class="delay-14">e</div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="35%" *ngIf="customerProfile; else noProfile">
    <mat-card-header>
      <mat-card-title
        >{{ customerProfile.personName.givenName }}
        {{ customerProfile.personName.familyName }}</mat-card-title
      >
      <mat-card-subtitle>{{ customerProfile.username }}</mat-card-subtitle>
      <button mat-icon-button class="back-button" (click)="goBack()">
        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
      </button>
    </mat-card-header>
    <br />
    <mat-card-content>
      <p><strong>Email: </strong> {{ customerProfile.email }}</p>
      <p>
        <strong>Phone number: </strong> {{ customerProfile.phone.code }}
        {{ customerProfile.phone.number }}
      </p>
      <p>
        <strong>Address: </strong>{{ customerProfile.address.city }},
        {{ customerProfile.address.street }}
      </p>
      <p><strong>Post code: </strong> {{ customerProfile.address.postCode }}</p>
      <ng-container *ngIf="customerProfile.birthday; else noBirthday">
        <p>
          <strong>Birthday: </strong>
          {{ customerProfile.birthday | date : "longDate" }}
        </p>
      </ng-container>

      <ng-template #noBirthday> </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/customers/{{ customerProfile.username }}/wishlist">
        <button class="profile-button">WHISHLIST</button>
      </a>
      <a routerLink="/customers/{{ customerProfile.username }}/tickets">
        <button class="profile-button">TICKETS</button>
      </a>
      <a routerLink="/customers/{{ customerProfile.username }}/reviews">
        <button class="profile-button">REVIEWS</button>
      </a>
      <a routerLink="/customers/{{ customerProfile.username }}/cart">
        <button class="profile-button">CART</button>
      </a>
      <a routerLink="/customers/{{ customerProfile.username }}/settings">
        <mat-icon class="prifle-settings-icon">settings</mat-icon>
      </a>
      <div class="block-button-container">
        <button *ngIf="role == 'ADMIN' && !logdInFlag" class="block-button">
          BLOCK
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noProfile>
  <ng-container *ngIf="!isLoading">
    <div class="container">
      <h1 class="title">Customer profile does not exist</h1>
    </div>
  </ng-container>
</ng-template>
