<head>
  <title>Ticket Jungle</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <title>Header Component</title>
</head>
<div class="banner">
  <div class="banner-content">
    <a routerLink="" class="home">
      <span>Ticket Jungle</span>

      <button mat-raised-button color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </a>

    <button
      mat-icon-button
      class="add-event-button custom-margin"
      *ngIf="role == 'ADMIN' && !logdInFlag"
      (click)="openCreateDialog()"
      matTooltip="Create event"
    >
      +
    </button>

    <a routerLink="/events">
      <button mat-raised-button color="primary" class="custom-margin">
        Events
      </button>

      <button
        mat-icon-button
        class="search-button custom-margin"
        (click)="openDialog()"
        matTooltip="Search for events"
      >
        <mat-icon>search</mat-icon>
      </button>
    </a>

    <a routerLink="/offices">
      <button mat-raised-button color="primary" class="custom-margin">
        Offices
      </button>
    </a>

    <a routerLink="/users">
      <button
        mat-raised-button
        *ngIf="role == 'ADMIN' && !logdInFlag"
        color="primary"
        class="custom-margin"
      >
        Users
      </button>
    </a>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="profile custom-margin icon-container"
    >
      <div>
        <span class="display-username" *ngIf="!logdInFlag && role == 'CUSTOMER'"
          >Welcome,<br />
          {{ getGivenName() + " " + getFamilyName() }}</span
        >
        <span class="display-admin" *ngIf="!logdInFlag && role == 'ADMIN'"
          ><mat-icon>admin_panel_settings</mat-icon> <br />
          {{ getUsername() }}</span
        >
        <span
          class="display-worker"
          *ngIf="!logdInFlag && role == 'OFFICE_WORKER'"
          ><mat-icon>engineering</mat-icon> <br />
          {{ getUsername() }}</span
        >
      </div>
      <mat-icon class="account-icon" (click)="chechForToken()"
        >account_circle</mat-icon
      >

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngIf="logdInFlag"
          (click)="openAccountAuthDialog()"
        >
          <i class="bx bx-log-in"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log-In
        </button>

        <button
          mat-menu-item
          *ngIf="role == 'CUSTOMER' && !logdInFlag"
          (click)="toProfile()"
        >
          <i class="bx bx-user-pin"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profile
        </button>

        <button
          mat-menu-item
          *ngIf="role == 'CUSTOMER' && !logdInFlag"
          (click)="toProfileSettings()"
        >
          <i class="bx bx-cog"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings
        </button>

        <button mat-menu-item *ngIf="!logdInFlag" (click)="logOut()">
          <i class="bx bx-log-out"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log-out
        </button>
      </mat-menu>
    </button>
  </div>
</div>
