.home {
  float: left;
  margin-left: 50px;
  width: 20px;
  display: inline-flex;
}
.home span {
  font-size: larger;
  font-weight: bold;
  color: azure;
  padding-right: 20px;
}
.profile {
  float: right;
  margin-right: 30px;
  max-width: 300px;
  padding: 5px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Set the width and height to your desired circle size */
  height: 40px;
  background-color: #710dafa6; /* Background color for the circle */
  border-radius: 50%; /* Make the container circular */
  color: azure;
}

.banner {
  background-color: #3fb59b;
}
.banner-content {
  padding: 10px;
}
.banner-content a + a {
  margin-left: 10px;
}

mat-icon {
  left: 5px;
}

.banner-content .add-event-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36px;
  bottom: 0.6px;
  left: 3px;
  border-radius: 50%;
  background-color: #710daf61;
  transition: background-color 0.3s ease-in-out;
  color: white;
  border: none;
  cursor: pointer;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.banner-content .add-event-button:hover {
  background-color: #710dafa6;
}

.banner-content .search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 36.5px;
  top: 0.1px;
  right: 3px;
  border-radius: 50%;
  background-color: #710daf61;
  transition: background-color 0.3s ease-in-out;
  color: white;
  border: none;
  cursor: pointer;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.banner-content .search-button mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130%;
  font-size: 18px;
}

.banner-content .search-button:hover {
  background-color: #710dafa6;
}

.custom-margin {
  margin-bottom: 10px;
}
/* .display-username {
  display: inline-block;
} */
/* .display-role {
  position: absolute;
  left: 85%;
  bottom: 20%;
  font-style: italic;
  color: #fff;
} */
.display-username {
  position: absolute;
  top: 10%;
  left: -400%;
  bottom: 10%;
  font-style: italic;
  font-size: 15px;
  color: #fff;
}
.display-admin {
  position: absolute;
  top: 0%;
  left: -200%;
  bottom: 20%;
  font-style: italic;
  font-size: 17px;
  color: #fff;
}
.display-worker {
  position: absolute;
  top: 0%;
  left: -200%;
  bottom: 20%;
  font-style: italic;
  font-size: 17px;
  color: #fff;
}
i {
  position: absolute;
  top: 35%;
  color: #090808;
}
