.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  background-color: aliceblue;
}
.titles {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}
.main-event-form {
  display: flex;
  flex-direction: column;
}
.main-event-form .description {
  margin: auto;
  width: 50%;
}
.main-event-form .description textarea {
  resize: none;
}
.main-event-form .form-buttons {
  margin: auto;
  width: 90%;
}
.main-event-form .discard-button {
  float: right;
  width: fit-content;
}
.main-event-form .submit-button {
  float: right;
  width: fit-content;
  margin-left: 5px;
}
#add-performance-button {
  width: 25%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.expand-first-column {
  width: 15%;
  font-style: italic;
}
.td-expand {
  padding: 5px;
}

.sub-event-buttons {
  text-align: right;
}

.sub-event-buttons button + button {
  margin-left: 5px;
}

.loading-cicle {
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.search-panel {
  margin-bottom: 20px;
}
