<div class="container">
  <h1 class="titles">Update Event</h1>
  <form
    class="main-event-form"
    (submit)="updateEvent()"
    *ngIf="!isLoadingEvent; else stillLoading"
  >
    <div class="description">
      <h1 class="titles">{{ originalEventName }}</h1>
    </div>
    <mat-form-field class="description">
      <mat-label>Genre</mat-label>
      <mat-select id="genre" name="genre" [(ngModel)]="updatedEventGenre">
        <mat-option
          *ngFor="let genre of staticSearchData.genres"
          [value]="genre"
        >
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="updatedEventDescription"
        matInput
        maxlength="500"
        [minlength]="8"
        rows="9"
      ></textarea>
      <mat-icon
        matSuffix
        matTooltip="Must be at least 8 characters or empty to leave as it was before!"
      >
        info</mat-icon
      >
      <mat-error
        *ngIf="updatedEventDescription && updatedEventDescription.length < 8"
      >
        Description should be at least 8 characters!
      </mat-error>
    </mat-form-field>
    <br />
    <div class="form-buttons">
      <button
        class="submit-button"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
      <button
        class="discard-button"
        mat-raised-button
        color="warn"
        type="button"
        (click)="discardChanges()"
      >
        Discard
      </button>
    </div>
  </form>
  <button
    id="add-performance-button"
    mat-raised-button
    [disabled]=""
    color="accent"
    (click)="addPerformance()"
  >
    + Add performance
  </button>
  <br />

  <mat-spinner class="loading-cicle" *ngIf="isLoadingSubEvents"></mat-spinner>
  <mat-card *ngIf="!isLoadingSubEvents">
    <mat-card-content>
      <mat-form-field appearance="fill" class="search-panel">
        <mat-label>Search</mat-label>
        <input
          matInput
          [(ngModel)]="filterValue"
          (keyup)="applyFilter(filterValue)"
          placeholder="Description"
        />
        <mat-hint>Filter by description</mat-hint>
      </mat-form-field>
      <table
        multiTemplateDataRows
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        aria-label="Sub-events Table"
      >
        <ng-container matColumnDef="name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Performance Name
          </th>
          <td mat-cell *matCellDef="let event">
            {{ event.performanceId.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="place">
          <th
            mat-sort-header
            mat-header-cell
            *matHeaderCellDef
            class="table-header-centered"
          >
            Place
          </th>
          <td mat-cell *matCellDef="let event" class="table-header-centered">
            {{ event.performanceDetails.stage }},
            {{ event.performanceDetails.venue }}
          </td>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <th
            mat-sort-header
            mat-header-cell
            *matHeaderCellDef
            class="table-header-centered"
          >
            Start Time
          </th>
          <td mat-cell *matCellDef="let event" class="table-header-centered">
            {{ event.performanceDetails.startDateTime | date : "short" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedElement === element"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let event"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              [@detailExpand]="
                event == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <p>
                {{ event.description }}
              </p>
              <b>Ticket Price: {{ event.ticketPrice }}</b>
              <div class="sub-event-buttons">
                <button
                  class=""
                  mat-raised-button
                  [disabled]=""
                  color="accent"
                  (click)="updateSubEventDialog(event, false)"
                >
                  Edit
                </button>
                <button
                  class=""
                  mat-raised-button
                  [disabled]=""
                  color="primary"
                  (click)="updateSubEventDialog(event, true)"
                >
                  Duplicate
                </button>
                <button
                  class=""
                  mat-raised-button
                  [disabled]=""
                  color="warn"
                  (click)="deleteSubEvent(event)"
                >
                  Remove
                </button>
              </div>
              <br />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
  <br />
</div>
<ng-template #stillLoading>
  <app-loading-buffer></app-loading-buffer>
</ng-template>
