<app-table-title table="Users"></app-table-title>
<div *ngIf="!isLoading; else stillLoading">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
  </button>
  <mat-card>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
        aria-label="Users Table"
      >
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="10">
            Username
          </th>
          <td mat-cell *matCellDef="let user" [fxFlex]="10">
            {{ user.username }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="10">
            Name
          </th>
          <td mat-cell *matCellDef="let user" [fxFlex]="10">
            {{ user.personName.givenName }} {{ user.personName.familyName }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="15">Email</th>
          <td mat-cell *matCellDef="let user" [fxFlex]="15">
            {{ user.email }}
          </td>
        </ng-container>

        <!-- Phone Code Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="15">Phone Number</th>
          <td mat-cell *matCellDef="let user" [fxFlex]="15">
            {{ user.phoneNumber.code }}
            {{ user.phoneNumber.number | phoneNumberFormat }}
          </td>
        </ng-container>

        <!-- Address City Column -->
        <ng-container matColumnDef="addressCity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="10">
            City
          </th>
          <td mat-cell *matCellDef="let user" [fxFlex]="10">
            {{ user.address.city }}
          </td>
        </ng-container>

        <!-- Address PostCode Column -->
        <ng-container matColumnDef="addressPostCode">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="10">Post Code</th>
          <td mat-cell *matCellDef="let user" [fxFlex]="10">
            {{ user.address.postCode }}
          </td>
        </ng-container>

        <!-- Address Street Column -->
        <ng-container matColumnDef="addressStreet">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="15">Street</th>
          <td mat-cell *matCellDef="let user" [fxFlex]="15">
            {{ user.address.street }}
          </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="8">Role</th>
          <td mat-cell *matCellDef="let user" [fxFlex]="8" class="role-cell">
            {{ user.role }}
          </td>
        </ng-container>

        <!-- Profile Column -->
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef [fxFlex]="8"></th>
          <td mat-cell *matCellDef="let user" [fxFlex]="8">
            <button class="profile-button" (click)="seeProfile(user)">
              See profile
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          [@rowsAnimation]=""
          *matRowDef="let user; columns: displayedColumns"
        ></tr>
      </table>
      <br />

      <mat-paginator
        [pageSizeOptions]="[3, 5, 10]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #stillLoading>
  <app-loading-buffer></app-loading-buffer>
</ng-template>
