.container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.title {
  padding: 20px;
  background-color: #f2f3f4;
  color: #48dc94;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  border-radius: 130px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #710daf;
}

.profile-button {
  padding: 10px;
  background-color: #48dc94;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #710daf;
}

.role-cell {
  display: flex;
  justify-content: center;
  background-color: #a0caf442;
  padding: 16px;
  font-size: 13px;
  border-radius: 5px;
  margin: 2px;
  color: #00000069;
}

.back-button {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #3fb59bb7;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  margin-left: 15px;
  margin-top: 10px;
}

.back-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.back-button:hover {
  background-color: #703fb5b7;
  color: #ffffff;
}
