.banner {
  background-color: #3fb59b;
  padding: 15px;
}
.banner a + a {
  margin-left: 20px;
}
.home span {
  margin-left: 10px;
  font-size: larger;
  font-weight: bold;
  color: azure;
}
.home span mat-icon {
  margin-left: 10px;
}
.footer-links {
  margin-right: 15px;
  float: right;
}
.footer-links span {
  font-size: large;
  font-weight: 400;
}
.footer-links span:hover {
  font-weight: 500;
}

.custom-margin {
  margin-top: 50px;
}
