<div class="banner">
  <a routerLink="/" class="home">
    <span><mat-icon>copyright</mat-icon> Ticket Jungle</span>
  </a>
  <div class="footer-links">
    <a routerLink="">
      <button mat-raised-button color="primary">Contacts</button>
    </a>
  </div>
</div>
