<app-table-title table="Offices"></app-table-title>
<div style="display: flex" *ngIf="!isLoading; else stillLoading">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
  </button>
  <button
    *ngIf="isAdmin"
    mat-icon-button
    class="back-button"
    (click)="createOffice()"
    matTooltip="Create Office"
  >
    <mat-icon class="back-icon">add</mat-icon>
  </button>
</div>
<mat-card *ngIf="!isLoading">
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="search-panel">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="TicketJ HQ"
        #input
      />
      <mat-hint>*search for specific data</mat-hint>
    </mat-form-field>
    <br />
    <br />
    <mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="Offices Table"
    >
      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="input.value.length > 0" class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
      <!-- Update Office Column -->
      <ng-container matColumnDef="update" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef [fxFlex]="10"></th>
        <td mat-cell *matCellDef="let office" [fxFlex]="10">
          <button
            mat-icon-button
            matTooltip="Update Office"
            (click)="updateOffice(office)"
          >
            <mat-icon class="icon">update</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Office Name Column -->
      <ng-container matColumnDef="officeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="30">
          Office Name
        </th>
        <td mat-cell *matCellDef="let office" [fxFlex]="30">
          {{ office.officeName }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="30">
          Email
        </th>
        <td mat-cell *matCellDef="let office" [fxFlex]="30">
          {{ office.email }}
        </td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef [fxFlex]="30">Phone Number</th>
        <td mat-cell *matCellDef="let office" [fxFlex]="30">
          {{ office.phone.code }} {{ office.phone.number }}
        </td>
      </ng-container>

      <!-- Address City Column -->
      <ng-container matColumnDef="addressCity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="30">
          City
        </th>
        <td mat-cell *matCellDef="let office" [fxFlex]="30">
          {{ office.officeAddress.city }}
        </td>
      </ng-container>

      <!-- Address PostCode Column -->
      <ng-container matColumnDef="addressPostCode">
        <th mat-header-cell *matHeaderCellDef [fxFlex]="30">Post Code</th>
        <td mat-cell *matCellDef="let office" [fxFlex]="30">
          {{ office.officeAddress.postCode }}
        </td>
      </ng-container>

      <!-- Address Street Column -->
      <ng-container matColumnDef="addressStreet">
        <th mat-header-cell *matHeaderCellDef [fxFlex]="50">Street</th>
        <td mat-cell *matCellDef="let office" [fxFlex]="50">
          {{ office.officeAddress.street }}
        </td>
      </ng-container>

      <!-- Working Hours Column -->
      <ng-container matColumnDef="workingHours">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="50">
          Working Hours
        </th>
        <td mat-cell *matCellDef="let office" [fxFlex]="50">
          {{ changeDate(office.workingHours.startTime) | date : "shortTime" }} -
          {{ changeDate(office.workingHours.endTime) | date : "shortTime" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let office; columns: displayedColumns"
        [@rowsAnimation]=""
      ></tr>
    </mat-table>

    <br />
    <mat-paginator
      [pageSizeOptions]="[3, 5, 10]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
<ng-template #stillLoading>
  <app-loading-buffer></app-loading-buffer>
</ng-template>
