<div
  class="dialog-content"
  [ngClass]="{ 'add-performance-opened': addPerformanceClicked }"
  *ngIf="!addPerformanceClicked"
>
  <h2 class="centered-heading title">Create Event</h2>
  <form (submit)="createEvent()">
    <mat-form-field class="description">
      <mat-label>Name</mat-label>
      <mat-icon
        matSuffix
        matTooltip="
      You can use only small, big letters or numbers. Example: Sofia Summer Fest - 2023"
        >info</mat-icon
      >
      <input
        matInput
        [(ngModel)]="name"
        name="eventName"
        required
        minlength="5"
        pattern="[a-zA-Zа-яА-Я0-9\s-]{1,}"
        #eventName="ngModel"
      />
      <mat-error
        *ngIf="!addPerformanceClicked && eventName.hasError('required')"
        >Event name is required!</mat-error
      >
      <mat-error *ngIf="eventName.hasError('minlength')">
        Event name should be at least {{ 5 }} symbols
      </mat-error>
      <mat-error *ngIf="eventName.hasError('pattern')"
        >Invalid event name format
      </mat-error>
    </mat-form-field>

    Genre:
    <div class="styled-select">
      <label
        for="genre"
        style="
          font-family: Arial, sans-serif;
          font-size: 15px;
          font-weight: normal;
          color: gray;
        "
      ></label>
      <select
        id="genre"
        name="genre"
        [(ngModel)]="genre"
        required
        #genreInput="ngModel"
        style="font-size: 15px"
      >
        <option *ngFor="let genreOption of genreOptions" [value]="genreOption">
          {{ genreOption }}
        </option>
      </select>
    </div>
    <div
      *ngIf="!genreInput.valid && (genreInput.dirty || genreInput.touched)"
      class="error-message"
    >
      <div *ngIf="genreInput.hasError('required')">Event name is required!</div>
    </div>

    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        maxlength="500"
        rows="9"
        [(ngModel)]="description"
        name="subEventDescription"
        required
        minlength="8"
      ></textarea>
      <mat-error *ngIf="!description">Description is required!</mat-error>
      <mat-error *ngIf="description && description.length < 8">
        Description should be at least 8 characters!
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button type="submit">Create</button>

      <button
        type="button"
        class="add-performance-button"
        (click)="toggleAddPerformanceDialog()"
      >
        Add Performance
      </button>
    </div>
  </form>
</div>
<app-sub-event-create
  *ngIf="addPerformanceClicked"
  class="sub-event-create-dialog"
></app-sub-event-create>
