.dialog-content {
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.sub-event-create-dialog {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  z-index: 1;
  overflow-y: auto;
  position: fixed;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
}

.dialog-content,
.dialog-content.add-performance-opened,
.sub-event-create-dialog {
  position: fixed;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
}

.title {
  padding: 30px;
  background-color: #48dc9444;
  color: #710daf;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-radius: 130px;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #48dc94;
}

.dialog-content h2 {
  margin-top: 0;
}

.dialog-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialog-content label {
  font-size: 15px;
}

.dialog-content textarea#description {
  padding: 30px;
  border-radius: 10px;
  resize: vertical;
  padding-top: 12px;
  padding-left: 12px;
  max-height: 100px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.dialog-content .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.dialog-content textarea:focus,
.dialog-content textarea#description:focus {
  outline: none;
  background-color: #e4e4e4;
  transition: background-color 0.3s ease-in-out;
}

.dialog-content button {
  padding: 8px 40px;
  background-color: #48dc94;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
.dialog-content button:hover {
  background-color: #710dafb4;
}

.dialog-content .add-performance-button {
  padding: 8px 20px;
  background-color: #f0639b;
  color: #ffffff;
  border: none;
  font-size: 14px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  float: right;
  margin-left: 10px;
}

.dialog-content .add-performance-button:hover {
  background-color: #710dafb4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 0;
  padding: 25px 0;
  margin-bottom: 20px;
}

.success-snackbar {
  background-color: #48dc94;
  color: white;
}

.styled-select {
  position: relative;
  width: 93%;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 15px;
}

.styled-select select {
  width: 100%;
  padding: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
