.whole-stage {
  position: absolute;
  top: 30%;
  width: 60%;
  height: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whole-scene {
  position: absolute;
  font-weight: bold;
  height: 70px;
  width: 30%;
  top: 10%;
  left: 35%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.whole-sector {
  height: 150px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.whole-sector:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    1px 1px #373737, 3px 3px #373737;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.5s ease;
}

.whole-sector button {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: Transparent;
  border-radius: 0px;
}

#whole-sector-1 {
  position: absolute;
  top: 44%;
  left: 20%;
  height: 120px;
  width: 15%;
  transform: rotate(20deg);
}

#whole-sector-2 {
  position: absolute;
  top: 50%;
  left: 42%;
  width: 15%;
  height: 120px;
}
#whole-sector-3 {
  position: absolute;
  top: 44%;
  left: 64%;
  width: 15%;
  height: 120px;
  transform: rotate(-20deg);
}
