<div class="whole-stage" *ngIf="stageModel.sectors">
  <div *ngIf="stageModel.sectors.length === 0">
    <div class="no-tickets">Coming soon...</div>
  </div>
  <div *ngIf="stageModel.sectors.length !== 0">
    <div class="whole-scene">Сцена</div>
    <div
      id="whole-sector-1"
      class="whole-sector"
      [ngClass]="calculateStatus(stageModel.sectors[0])"
    >
      <button (click)="openDialog(stageModel.sectors[0])">
        {{ stageModel.sectors[0].name }}
      </button>
    </div>
    <div
      id="whole-sector-2"
      class="whole-sector"
      [ngClass]="calculateStatus(stageModel.sectors[1])"
    >
      <button (click)="openDialog(stageModel.sectors[1])">
        {{ stageModel.sectors[1].name }}
      </button>
    </div>
    <div
      id="whole-sector-3"
      class="whole-sector"
      [ngClass]="calculateStatus(stageModel.sectors[2])"
    >
      <button (click)="openDialog(stageModel.sectors[2])">
        <p>{{ stageModel.sectors[2].name }}</p>
      </button>
    </div>
  </div>
</div>
