<div class="dialog">
  <div id="close-dialog">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2 class="centered-heading title">Update Office</h2>
  <mat-dialog-content>
    <app-office-form
      [passedOffice]="officeToUpdate"
      [changeOfficeName]="false"
      (newItemEvent)="updateOffice($event)"
    ></app-office-form>
  </mat-dialog-content>
</div>
