.title {
  padding: 30px;
  background-color: #48dc9444;
  color: #710daf;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-radius: 130px;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #48dc94;
}
.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 0;

  margin-bottom: 20px;
}
.dialog {
  padding: 5px 30px 30px 30px;
}
#close-dialog {
  display: flex;
  justify-content: end;
}
