<head>
  <title></title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body>
  <div class="wrapper">
    <div class="form-box">
      <div class="login-container" id="login">
        <mat-tab-group
          backgroundColor="primary"
          color="primary"
          [(selectedIndex)]="selectedTabIndex"
        >
          <mat-tab label="Log-In">
            <div class="top">
              <header>Login</header>
            </div>
            <form [formGroup]="lgInForm" class="from" (ngSubmit)="signIn()">
              <div class="tavle">
                <table aria-label="User Cridentials Sub-form">
                  <!-- Table used to format the form inputs for logging in-->
                  <th></th>
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input
                          matInput
                          type="text"
                          formControlName="logusername"
                        />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          type="password"
                          formControlName="logpassword"
                          matInput
                          [type]="hide ? 'password' : 'text'"
                        />
                        <button
                          mat-icon-button
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                          type="button"
                        >
                          <mat-icon class="eye">{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <div class="input-box">
                  <button
                    mat-button
                    [disabled]="!customerForm"
                    class="login-submit"
                  >
                    Sign In&nbsp;&nbsp;&nbsp;
                  </button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Register">
            <div class="top">
              <header>Register</header>
            </div>
            <div class="tavle">
              <form
                [formGroup]="customerForm"
                class="from"
                (ngSubmit)="puCustomer()"
              >
                <table
                  class="styled-table"
                  aria-label="Customer Main Cridentials Sub-form"
                >
                  <!-- Table used to format the form inputs for credetiols registratin of a new user-->
                  <th></th>
                  <tr>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Username </mat-label
                        ><mat-icon matSuffix matTooltip="Lenght min:2 max:30"
                          >info</mat-icon
                        >
                        <input
                          matInput
                          type="text"
                          formControlName="username"
                        />
                        <mat-error
                          *ngIf="
                            customerForm.get('username')?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('username')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('username')?.hasError('pattern')
                          "
                          >Only positive numbers, but the first digit must not
                          be 0!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" />
                        <mat-error
                          *ngIf="
                            customerForm.get('email')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('email')?.hasError('minlength')
                          "
                          >Field must have a minimum of 5 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('email')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="customerForm.get('email')?.hasError('pattern')"
                          >The pattern for the street. Allows: Different
                          language letters, blank spaces, numbers and
                          symbols("'.-).</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Password </mat-label>
                        <mat-icon
                          matSuffix
                          matTooltip="Must contain at leas ONE CAPITALE and ONE SMALL letter with a secial symbol EX: (!@#$%^&&*). Lenght min:2 max:30"
                          >info</mat-icon
                        >
                        <input
                          matInput
                          type="password"
                          formControlName="password"
                        />
                        <mat-error
                          *ngIf="
                            customerForm.get('password')?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('password')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('password')?.hasError('pattern')
                          "
                          >Field must be in phone code format!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Password</mat-label>
                        <input
                          matInput
                          type="password"
                          formControlName="confirmPassword"
                        />
                        <mat-error
                          *ngIf="
                            customerForm
                              .get('confirmPassword')
                              ?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm
                              .get('confirmPassword')
                              ?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm
                              .get('confirmPassword')
                              ?.hasError('pattern')
                          "
                          >Field must be in phone code format!</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <table class="styled-table" aria-label="Customer Name Sub-form">
                  <!-- Table used to format the form inputs personal data for registratin of a new user-->
                  <th></th>
                  <tr>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>First Name </mat-label>
                        <mat-icon matSuffix matTooltip="Lenght min:2 max:30"
                          >info</mat-icon
                        >
                        <input
                          matInput
                          type="text"
                          formControlName="givenName"
                        />
                        <mat-error
                          *ngIf="
                            customerForm.get('givenName')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('givenName')?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('givenName')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('givenName')?.hasError('pattern')
                          "
                          >Field must be in phone code format!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Family Name </mat-label
                        ><mat-icon matSuffix matTooltip="Lenght min:2 max:30"
                          >info</mat-icon
                        >
                        <input
                          matInput
                          type="text"
                          formControlName="familyName"
                        />
                        <mat-error
                          *ngIf="
                            customerForm.get('familyName')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm
                              .get('familyName')
                              ?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm
                              .get('familyName')
                              ?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('username')?.hasError('pattern')
                          "
                          >Only positive numbers, but the first digit must not
                          be 0!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="2">
                      <mat-form-field
                        class="input-field-date"
                        backgroundColor="primary"
                        color="accent"
                      >
                        <mat-label>Birthday</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="bday" />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="picker"
                          color="primary"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <br
                      /></mat-form-field>
                    </td>
                  </tr>
                </table>
                <table
                  aria-label="Customer Address Sub-form"
                  class="styled-table"
                >
                  <!-- Table used to format the form inputs for address used in registration of a new user-->
                  <th></th>
                  <tr>
                    <td colspan="1">
                      <mat-form-field class="input-field-date">
                        <mat-label>City</mat-label>
                        <input matInput type="text" formControlName="city" />
                        <mat-error
                          *ngIf="customerForm.get('city')?.hasError('required')"
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('city')?.hasError('minlength')
                          "
                          >Field must have a minimum of 3 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('city')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 10 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="customerForm.get('city')?.hasError('pattern')"
                          >City must contain only Uppercase letter and
                          digits!</mat-error
                        >
                      </mat-form-field>
                    </td>

                    <td colspan="1">
                      <mat-form-field class="input-field-date">
                        <mat-label>Post Code </mat-label
                        ><mat-icon
                          matSuffix
                          matTooltip="Must be a 4 or more digit code"
                          >info</mat-icon
                        >
                        <input
                          matInput
                          type="text"
                          formControlName="postCode"
                        />
                        <mat-error
                          *ngIf="
                            customerForm.get('postCode')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('postCode')?.hasError('minlength')
                          "
                          >Field must have a minimum of 3 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('postCode')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 10 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('postCode')?.hasError('pattern')
                          "
                          >Post code must contain only Uppercase letter and
                          digits!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="2">
                      <mat-form-field class="input-field-date">
                        <mat-label>Street</mat-label>
                        <input matInput type="text" formControlName="street" />
                        <mat-error
                          *ngIf="
                            customerForm.get('street')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('street')?.hasError('minlength')
                          "
                          >Field must have a minimum of 5 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('street')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('street')?.hasError('pattern')
                          "
                          >The pattern for the street. Allows: Different
                          language letters, blank spaces, numbers and
                          symbols("'.-).</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <table
                  class="styled-table"
                  aria-label="Customer Phone Sub-form"
                >
                  <!-- Table used to format the form inputs phone contact infomation used for registratin of a new user-->
                  <th></th>
                  <tr>
                    <td colspan="1">
                      <mat-form-field class="input-field-date">
                        <mat-label>Phone Code</mat-label>
                        <mat-select formControlName="phoneCode">
                          <mat-option
                            *ngFor="let code of PhoneCodes"
                            [value]="code"
                            >{{ code }}</mat-option
                          >
                        </mat-select>
                        <mat-error
                          *ngIf="customerForm.get('code')?.hasError('required')"
                          >Field must not be empty!</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td colspan="3">
                      <mat-form-field class="input-field-date">
                        <mat-label>Number </mat-label
                        ><mat-icon
                          matSuffix
                          matTooltip="Must 9 digit number that DOES NOT START WITH 0"
                          >info</mat-icon
                        >
                        <input matInput type="tel" formControlName="number" />
                        <mat-error
                          *ngIf="
                            customerForm.get('number')?.hasError('required')
                          "
                          >Field must not be empty!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('number')?.hasError('minlength')
                          "
                          >Field must have a minimum of 2 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('number')?.hasError('maxlength')
                          "
                          >Field must have a maximum of 30 symbols!</mat-error
                        >
                        <mat-error
                          *ngIf="
                            customerForm.get('number')?.hasError('pattern')
                          "
                          >Only positive numbers, but the first digit must not
                          be 0!</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <div class="input-box">
                  <button
                    mat-button
                    [disabled]="!customerForm || disSignUp"
                    class="submit"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
            </div></mat-tab
          >
        </mat-tab-group>
      </div>
    </div>
  </div>
</body>
