* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(images/party2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 39, 39, 0.849);
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 70%;
  background: linear-gradient(rgba(39, 39, 39, 0.6) transparent);
  z-index: 100;
}
.link:hover {
  border-bottom: 2px solid #fff;
}
.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
#registerBtn {
  margin-left: 15px;
}
.btn.white-btn {
  background: rgba(255, 255, 255, 0.7);
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.btn.btn.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav.menu-btn {
  display: none;
}

.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 700px;
  z-index: 2;
}
.register-container {
  position: absolute;
  right: -520px;
  width: 750px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.login-container {
  position: absolute;
  left: 10%;
  top: 0px;
  width: 900px;
  height: 700px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.nav-menu-btn {
  display: none;
}
.top span {
  color: #fff;
  font-size: small;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.top span a {
  font-weight: 500;
  color: #fff;
}
header {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}
.two-forms {
  display: flex;
  gap: 10px;
}
.input-field {
  font-size: 15px;
  color: #ffffff;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}
.input-field-date {
  padding: 1px;
  font-size: 15px;
  width: 100%;
}
.input-datatimepicker {
  background: rgba(255, 255, 255, 0.2);
}
.input-field-row {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  width: 50%;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-box i {
  position: relative;
  top: -33px;
  left: 17px;
  color: #090808;
}
.bx bx-lock-alt {
  position: relative;
  top: -30px;
}
.eyeicon {
  position: relative;
  font-size: 20px;
  top: 0px;
  left: 425px;
  cursor: pointer;
  color: #090808;
}
.submit {
  font-size: 15px;
  left: 15%;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 70%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.login-submit {
  font-size: 15px;
  left: 23%;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 54%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 5px;
}
.two-col .one {
  display: flex;
  gap: 5px;
}

.two label a {
  text-decoration: none;
  color: #fff;
}

.two label a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 100px;
  }
  .nav-menu {
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 200%;

    backdrop-filter: blur(20px);
    transition: 0.3s;
  }
  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn i {
    font-size: 25px;
    color: #fff;
    padding: 2px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
@media only screen and (max-width: 740px) {
  .wrapper {
    min-height: 600vh;
  }
  .form-box {
    width: 100%;
  }
  .register-container .two-col {
    flex-direction: column;
    gap: 0;
  }
}

.error {
  color: red;
  padding-left: 1%;
}

.register {
  padding-top: 1%;
}
form {
  display: flex;
  flex-direction: column;
}
table {
  margin: auto;
}
.office-name {
  width: 66%;
}
.button-container {
  margin: auto;
}
button {
  padding: 4px 5px;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #710dafb4;
}
.main-button {
  margin-right: 5px;
  background-color: #48dc94;
}
.reset-button {
  margin-left: 10px;
  background-color: #f0639b;
}
mat-tab label {
  color: white;
}
.from {
  padding: 5px;
}
.eye {
  color: #090808;
}
.styled-table {
  width: 100%;
  max-width: 350px;
  border-bottom: 1px solid #ddd;
}

.styled-table td {
  padding: 0.5px;
}

.info-icon {
  padding-left: 0.5px;
  color: #ffffff;
}
