<h1 class="center-text">
  <a routerLink="../../">{{ eventName }} </a>
</h1>

<a
  *ngIf="role == 'CUSTOMER'"
  matTooltip="To wishlist"
  id="wishlist-button"
  routerLink="/customers/{{ username }}/wishlist"
>
  <button mat-fab color="accent" class="profile-button">
    <mat-icon>menu</mat-icon>
  </button>
</a>

<div class="container" *ngIf="!isSubEventListEmpty(); else noSubEvents">
  <mat-form-field class="form-field">
    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Search by description"
      autocomplete="off"
    />
  </mat-form-field>
  <div fxLayout="row wrap">
    <div fxFlex *ngFor="let card of subEventList | filter : searchText ?? ''">
      <mat-card>
        <mat-card-header class="card-header">
          <mat-card-title>{{ card.performanceId.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content
          matTooltip="Read more"
          (click)="readMore(readMoreDialogue)"
        >
          <p class="card-description">
            <span>{{ card.description }}</span>
            <span
              ><br /><b>Start time:</b>
              {{ card.performanceDetails.startDateTime | date : "short" }}</span
            >
            <span
              ><br /><b>Location:</b> {{ card.performanceDetails.venue }},
              {{ card.performanceDetails.stage }}</span
            >
            <br />
            <span
              *ngIf="card.reviewScoreAndCount.score != 0"
              class="stars"
              [style.color]="
                card.reviewScoreAndCount.score === undefined ? 'grey' : 'green'
              "
            >
              {{ getStarIcons(card.reviewScoreAndCount.score) }}
            </span>
          </p>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions id="mat-card-footer">
            <button
              mat-fab
              color="primary"
              title="Write a review"
              *ngIf="isEventOver(card.performanceDetails.startDateTime)"
            >
              <mat-icon>rate_review</mat-icon>
            </button>

            <button
              mat-fab
              color="primary"
              matTooltip="Add to wishlist"
              *ngIf="
                !isItInTheWishlist(card.performanceId) &&
                isLogged &&
                role == 'CUSTOMER'
              "
              (click)="addToWishlist(card.performanceId)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
            <button
              mat-fab
              color="remove"
              matTooltip="Remove from wishlist"
              *ngIf="
                isItInTheWishlist(card.performanceId) &&
                isLogged &&
                role == 'CUSTOMER'
              "
              (click)="removeFromWishlist(card.performanceId)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
            <button
              mat-fab
              color="primary"
              title="Buy a ticket"
              *ngIf="!isEventOver(card.performanceDetails.startDateTime)"
            >
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <button
              id="show-stage"
              *ngIf="isEventOver(card.performanceDetails.startDateTime)"
              mat-fab
              color="primary"
              (click)="
                getStageModel(
                  card.performanceId.eventName,
                  card.performanceId.name
                )
              "
            >
              View stage
            </button>
          </mat-card-actions>
        </mat-card-footer>
        <ng-template #readMoreDialogue>
          <h2 matDialogTitle>{{ card.performanceId.name }}</h2>
          <mat-dialog-content>
            <p>{{ card.description }}</p>
            <p>
              <b>Start time:</b>
              {{ card.performanceDetails.startDateTime | date : "short" }}
            </p>
            <p>
              <b>Location:</b> {{ card.performanceDetails.venue }},
              {{ card.performanceDetails.stage }}
            </p>
            <p>
              <b>Address:</b> {{ card.venueAddress.street }},
              {{ card.venueAddress.city }}
            </p>
            <p><b>Ticket price:</b> {{ card.ticketPrice }} (BGN)</p>
            <p *ngIf="card.reviewScoreAndCount.score != 0; else noScore">
              <b>Score:</b>
              {{ card.reviewScoreAndCount.score | number : ".2-2" }}/5
              <span
                class="stars"
                [style.color]="
                  card.reviewScoreAndCount.score === undefined
                    ? 'grey'
                    : 'green'
                "
              >
                {{ getStarIcons(card.reviewScoreAndCount.score) }}
              </span>
              <br />
              <b>Scored by ({{ card.reviewScoreAndCount.count }})</b>
            </p>
            <ng-template #noScore>
              <p><b>Score:</b> This event has not been scored.</p>
            </ng-template>
            <b>Perfomers:</b>
            <div *ngFor="let performer of card.performers">
              {{ performer }}
            </div>
          </mat-dialog-content>
          <mat-dialog-actions>
            <button mat-button matDialogClose color="primary">Close</button>
          </mat-dialog-actions>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noSubEvents>
  <ng-container *ngIf="!isLoading && isSubEventListEmpty()">
    <h1 class="center-text">Coming soon!</h1>
    <br />
  </ng-container>
</ng-template>
<mat-spinner class="loading-cicle" *ngIf="isLoading"></mat-spinner>
