.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.container .form-field {
  padding: 10px;
  margin: auto;
  width: 80%;
}

mat-card {
  width: 275px;
  height: 350px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.card-header {
  background-color: #673ab7;
  padding: 10px;
  color: white;
}

mat-card-content {
  padding: 2px;
  height: 90%;
}

mat-card-content:hover {
  cursor: pointer;
}

mat-card-content .card-description {
  height: 75%;
  overflow: hidden;
}

.center-text {
  text-align: center;
  padding-top: 10px;
}

mat-card-footer {
  position: absolute;
  bottom: 0;
}

mat-card-actions button {
  margin: 0 5px;
}

.stars {
  font-size: 24px;
}

.loading-cicle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mat-card-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 275px;
}

.mat-success {
  background-color: rgb(36, 173, 54);
  color: #fff;
}

.mat-remove {
  background-color: #ff3333;
  color: #fff;
}

#wishlist-button{
  position: fixed;
  left: 95%;
}