<div
  *ngIf="stageModel.venueName === 'NDK' && stageModel.stageName === 'Zala 1'"
>
  <app-ndk-zala1 [stageModel]="stageModel"></app-ndk-zala1>
</div>

<div
  *ngIf="stageModel.venueName === 'NDK' && stageModel.stageName === 'Zala 3'"
>
  <app-ndk-zala3 [stageModel]="stageModel"></app-ndk-zala3>
</div>
<div
  *ngIf="
    stageModel.venueName === 'Дом на киното' &&
    stageModel.stageName === 'Прожекционна зала'
  "
>
  <app-home-of-cinema-hall [stageModel]="stageModel"></app-home-of-cinema-hall>
</div>

<div
  *ngIf="
    stageModel.venueName === 'Драматичен театър - Стоян Бъчваров' &&
    stageModel.stageName === 'Главна зала'
  "
>
  <app-theatre-stoyan-buchvarov-main-hall
    [stageModel]="stageModel"
  ></app-theatre-stoyan-buchvarov-main-hall>
</div>
<div
  *ngIf="
    stageModel.venueName === 'Фестивален и конгресен център' &&
    stageModel.stageName === 'Зала 1'
  "
>
  <app-festival-and-congress-centre-hall
    [stageModel]="stageModel"
  ></app-festival-and-congress-centre-hall>
</div>

<div
  *ngIf="
    stageModel.venueName === 'Народен театър &quot;Иван Вазов&quot;' &&
    stageModel.stageName === 'Голяма сцена'
  "
>
  <app-ivan-vazov-national-theatre
    [stageModel]="stageModel"
    [event]="event"
    [subEvent]="subEvent"
  ></app-ivan-vazov-national-theatre>
</div>

<div
  *ngIf="
    (stageModel.venueName === 'Античен театър' &&
      stageModel.stageName === 'Сцена') ||
    (stageModel.venueName === 'Летен театър' &&
      stageModel.stageName === 'Сцена')
  "
>
  <app-three-sector-smile [stageModel]="stageModel"></app-three-sector-smile>
</div>
