.sector {
  height: 100px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.sector:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    1px 1px #373737, 3px 3px #373737;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.5s ease;
}

.sector-available {
  background-color: #a3ec92;
}

.sector-acquired {
  background-color: #ff3333;
}

.sector-reserved {
  background-color: #f4e136;
}

.sector button {
  position: absolute;
}

.no-tickets {
  justify-content: center;
  display: flex;
  height: 50px;
  top: 40%;
  font-weight: bold;
  font-size: 30px;
}
