.container {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.title {
  padding: 20px;
  background-color: #f2f3f4;
  color: #48dc94;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  border-radius: 130px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.title:hover {
  background-color: #710daf;
}
