.toolbar {
  float: right;
}
.container {
  position: relative;
  min-height: 100vh;
}
header {
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.content {
  padding-bottom: 2.5rem;
}
.to-top {
  bottom: 0;
  margin: 0 20px 35px 0;
  position: fixed;
  right: 0;
  opacity: 0;
  z-index: 999;
}
mat-icon {
  left: 5px;
}

.show-to-top {
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}

.dialog-content {
  mat-dialog-container {
    padding: 0;
  }
}
