<div class="container" role="main">
  <app-monkey-drop *ngIf="showMonkey"></app-monkey-drop>

  <header><app-main-header></app-main-header></header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div
    class="to-top"
    (click)="toTop()"
    [ngClass]="{ 'show-to-top': windowScrolled }"
  >
    <button mat-raised-button color="primary">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
  </div>
  <footer><app-main-footer></app-main-footer></footer>
</div>
