<mat-form-field class="example-form-field">
  <mat-label>Enter username</mat-label>
  <input matInput type="text" [(ngModel)]="username" />
  <button
    *ngIf="username"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="username = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<section>
  <div class="example-button-row">
    <button mat-button color="primary" (click)="navigateToCustomer()">
      see profile
    </button>
  </div>
</section>
