<div class="search">
  <button
    *ngIf="clearDateFlag"
    class="clear-Date-button"
    mat-mini-fab
    color="warn"
    aria-label="Button for clearing Data picker dates"
    matTooltip="Clear all Date`s"
    type="button"
    (click)="clearDate()"
  >
    <mat-icon class="icon">highlight_off</mat-icon>
  </button>
  <form [formGroup]="range">
    <mat-form-field>
      <mat-label>Enter Event date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          placeholder="Start date"
          (dateChange)="onDatePicketRaiseFlag()"
        />
        <input
          matEndDate
          formControlName="end"
          placeholder="End date"
          (dateChange)="onDatePicketRaiseFlag()"
        />
        <mat-icon matDatepickerToggleIcon (click)="clearDate()">clear</mat-icon>
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="range.controls['start'].hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls['end'].hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select formControlName="searchCity">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let city of staticSearchData.cities" [value]="city">
          {{ city }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select formControlName="searchGenre">
        <mat-option>All</mat-option>
        <mat-option
          *ngFor="let genre of staticSearchData.genres"
          [value]="genre"
        >
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event name</mat-label>
      <input matInput formControlName="searchEventName" type="text" />
    </mat-form-field>
    <button
      class="search-button"
      mat-raised-button
      [disabled]="range.invalid"
      color="primary"
      (click)="search()"
    >
      Search
    </button>
  </form>
</div>
