.example-card {
  max-width: 300px;
}
.poster {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}
mat-card {
  max-width: 300px;
}

.card-image {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 20px 20px #f2f3f4;

  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.search-button {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 5vh;
  align-self: center;
  padding: 10px;
  padding-left: 10px;
  offset: 10px;
}

.event-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.clear-Date-button {
  display: block;
  align-self: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-right: 10px;
}
.icon {
  padding: 0px;
}
