<div class="wrapper one">
  <div class="drop-main">
    <div class="Rre">R</div>
    <div class="Ere">E</div>
    <div class="Vre">V</div>
    <div class="Ire">I</div>
    <div class="Ere2">E</div>
    <div class="Wre">W</div>
    <div class="Sre">S</div>
  </div>
</div>

<div class="box">
  <button class="back-btn" (click)="onClickProfile()">
    <mat-icon class="person-icon">person</mat-icon>
    <span class="span-profile">Profile</span>
  </button>
</div>

<mat-card>
  <mat-card-content>
    <table
      [ngClass]="{ hidden: !hasReviews }"
      multiTemplateDataRows
      matSort
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      aria-label="Reviews Table"
    >
      <ng-container matColumnDef="subEventName">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Event Name</th>
        <td mat-cell *matCellDef="let event" style="width: 18%">
          {{ event.subEventName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Place</th>
        <td mat-cell *matCellDef="let event" style="width: 18%">
          {{ event.venue }} - {{ event.stage }}
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Start Time</th>
        <td mat-cell *matCellDef="let event" style="width: 14%">
          {{ event.startTime | date : "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let event" style="width: 40%">
          {{ event.comment }}
        </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell class="stars" *matCellDef="let event" style="width: 10%">
          <span [style.color]="event.score === undefined ? 'grey' : 'green'">
            {{ getStarIcons(event.score) }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <br />
    <mat-card-footer [ngClass]="{ hidden: !hasReviews }">
      <mat-paginator
        [length]="customerReviews.length"
        [pageSizeOptions]="[3, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
    <div>
      <ng-container *ngIf="!isLoading">
        <h1 class="emptyListReviews" *ngIf="!hasReviews">
          You don't have reviews yet! If you want to add one, look at the events
          you've attended.
        </h1>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
