<mat-card>
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="fill" class="search-panel">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Grafa"
        #input
      />
      <mat-hint>*search for specific data</mat-hint>
    </mat-form-field>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      class="mat-elevation-z8"
      aria-label="Contains all tickets"
    >
      <!-- Order Id Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>OrderID</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.orderId }}</td>
      </ng-container>

      <!-- Start Time Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let ticket">
          {{ ticket.performanceDetails.startDateTime | date : "short" }}
        </td>
      </ng-container>

      <!-- Sub-Event-Name Column -->
      <ng-container matColumnDef="subEventName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name</th>
        <td mat-cell *matCellDef="let ticket">
          {{ ticket.performanceId.name }}
        </td>
      </ng-container>

      <!-- Seat Status Column -->
      <ng-container matColumnDef="seatStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.seat.status }}</td>
      </ng-container>

      <!-- Seat Column -->
      <ng-container matColumnDef="seat">
        <th mat-header-cell *matHeaderCellDef>Seat</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.seat.number }}</td>
      </ng-container>

      <!-- Row Column -->
      <ng-container matColumnDef="row">
        <th mat-header-cell *matHeaderCellDef>Row</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.row }}</td>
      </ng-container>

      <!-- Seactor Column -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef>Sector</th>
        <td mat-cell *matCellDef="let ticket">{{ ticket.sector }}</td>
      </ng-container>

      <!-- Seactor Column -->
      <ng-container matColumnDef="stage">
        <th mat-header-cell *matHeaderCellDef>Stage</th>
        <td mat-cell *matCellDef="let ticket">
          {{ ticket.performanceDetails.stage }}
        </td>
      </ng-container>

      <!-- Venue Column -->
      <ng-container matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue</th>
        <td mat-cell *matCellDef="let ticket">
          {{ ticket.performanceDetails.venue }}
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price (BGN)</th>
        <td mat-cell *matCellDef="let ticket">
          {{ ticket.price | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- Expand Column. Used for expandable row. -->
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            aria-label="expand row"
            (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedElement !== element"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement === element"
              >keyboard_arrow_up</mat-icon
            >
          </button>
        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="input.value.length > 0" class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let ticket"
          [attr.colspan]="columnsToDisplayWithExpand.length"
        >
          <div
            [@detailExpand]="
              ticket == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <p>
              {{ ticket.subEventDescription }}
            </p>
            <table
              aria-label="Contains additional ticket/event information."
              style="font-size: 13px"
            >
              <th></th>
              <tr class="row-expand">
                <td class="td-expand expand-first-column">Discount:</td>
                <td class="td-expand">
                  -{{ ticket.discount.percentage }}% ({{
                    ticket.discount.name
                  }})
                </td>
              </tr>
              <tr class="row-expand">
                <td class="td-expand expand-first-column">
                  Price without Discount:
                </td>
                <td class="td-expand">
                  {{
                    ticket.price / (1 - ticket.discount.percentage / 100)
                      | number : "1.2-2"
                  }}
                  BGN
                </td>
              </tr>
              <tr class="row-expand">
                <td class="td-expand expand-first-column">
                  Price with Discount:
                </td>
                <td class="td-expand">
                  {{ ticket.price | number : "1.2-2" }} BGN
                </td>
              </tr>
            </table>
            <div style="text-align: center">
              <button class="profile-button">
                <a [routerLink]="getEventURL(ticket)">Go To Event</a>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplayWithExpand"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
        [ngClass]="{ 'when-reserved': element.seat.status === 'RESERVED' }"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </mat-card-content>
  <br />
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[3, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-footer>
  <br />
  <br />
</mat-card>
