table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.no-tickets {
  text-align: center;
  color: darkgrey;
}
.search-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}
.expand-first-column {
  width: 15%;
  font-style: italic;
}
.td-expand {
  padding: 5px;
}

.profile-button {
  padding: 10px;
  background-color: #48dc94;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  width: auto;
  margin-bottom: 5px;
}
.when-reserved {
  background-color: #f4e13629;
}
.mat-mdc-row:hover.when-reserved .mat-mdc-cell {
  background-color: rgba(255, 217, 0, 0.407);
}
