<div class="container">
  <mat-tab-group backgroundColor="primary" animationDuration="1000ms">
    <mat-tab
      label="{{ event.performanceId.name }}"
      *ngFor="let event of subEventList"
    >
      <p class="tab-description trim-info">
        <a routerLink="events/{{ event.performanceId.eventName }}/sub-events">
          {{ event.description }}
          <br />
          <span class="tooltiptext">Click for more</span>
        </a>
      </p>
      <br />
      <span class="tab-description"
        >Date:
        {{ event.performanceDetails.startDateTime | date : "short" }}</span
      ></mat-tab
    >
  </mat-tab-group>
</div>
