.container {
  width: 80%;
  margin: auto;
  border: 1px solid;
  background-color: #3fb59b;
  padding-bottom: 5px;
}

.tab-image {
  max-height: 200px;
  width: auto;
  display: block;
  margin: 10px auto;
}
mat-tab-group {
  text-align: center;
}
mat-tab-group .tab-description {
  margin-top: 15px;
  font-size: 20px;
  color: white;
}
mat-tab-group .tab-description .tooltiptext {
  visibility: hidden;
  text-align: center;
  width: 120px;
  top: 100%;
  left: 50%;
  opacity: 50%;
}
mat-tab-group .tab-description:hover .tooltiptext {
  visibility: visible;
}
