.ndk-zala-3 {
  position: absolute;
  top: 30%;
  width: 60%;
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage-zala3 {
  position: absolute;
  font-weight: bold;
  height: 70px;
  width: 35%;
  top: 10%;
  left: 35%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

.sector-zala3 {
  height: 150px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.sector-zala3:hover {
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    1px 1px #373737, 3px 3px #373737;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
  transition: 0.5s ease;
}

#ndk-zala-3-sector-1 {
  position: absolute;
  top: 40%;
  left: 20%;
  height: 100px;
}

#ndk-zala-3-sector-2 {
  position: absolute;
  top: 50%;
  left: 33%;
  height: 100px;
}

#ndk-zala-3-sector-3 {
  position: absolute;
  top: 50%;
  left: 46%;
  height: 100px;
}
#ndk-zala-3-sector-4 {
  position: absolute;
  left: 59%;
  top: 50%;
  height: 100px;
}

#ndk-zala-3-sector-5 {
  position: absolute;
  top: 40%;
  left: 72%;
  height: 100px;
}

.sector-zala3 button {
  font-weight: bold;
  font-size: 12px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: Transparent;
  border-radius: 0px;
}
