<div class="ndk-zala-3" *ngIf="stageModel.sectors">
  <div *ngIf="stageModel.sectors.length === 0">
    <div class="no-tickets">Coming soon...</div>
  </div>
  <div *ngIf="stageModel.sectors.length !== 0">
    <div class="stage-zala3">Stage</div>
    <div
      id="ndk-zala-3-sector-1"
      class="sector-zala3"
      [ngClass]="calculateStatus(stageModel.sectors[0])"
    >
      <button (click)="openDialog(stageModel.sectors[0])">
        {{ stageModel.sectors[0].name }}
      </button>
    </div>
    <div
      id="ndk-zala-3-sector-2"
      class="sector-zala3"
      [ngClass]="calculateStatus(stageModel.sectors[1])"
    >
      <button (click)="openDialog(stageModel.sectors[1])">
        {{ stageModel.sectors[1].name }}
      </button>
    </div>

    <div
      id="ndk-zala-3-sector-3"
      class="sector-zala3"
      [ngClass]="calculateStatus(stageModel.sectors[2])"
    >
      <button (click)="openDialog(stageModel.sectors[2])">
        {{ stageModel.sectors[2].name }}
      </button>
    </div>

    <div
      id="ndk-zala-3-sector-4"
      class="sector-zala3"
      [ngClass]="calculateStatus(stageModel.sectors[3])"
    >
      <button (click)="openDialog(stageModel.sectors[3])">
        {{ stageModel.sectors[3].name }}
      </button>
    </div>

    <div
      id="ndk-zala-3-sector-5"
      class="sector-zala3"
      [ngClass]="calculateStatus(stageModel.sectors[4])"
    >
      <button (click)="openDialog(stageModel.sectors[4])">
        {{ stageModel.sectors[4].name }}
      </button>
    </div>
  </div>
</div>
