<div class="container" *ngIf="!isLoading; else stillLoading">
  <mat-form-field class="form-field">
    <input
      matInput
      [(ngModel)]="searchText"
      placeholder="Search by description"
      autocomplete="off"
    />
  </mat-form-field>
  <app-event-list
    [eventList]="eventList | filter : searchText"
  ></app-event-list>
</div>
<ng-template #stillLoading>
  <app-loading-buffer></app-loading-buffer>
</ng-template>
