.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.title {
  padding: 30px;
  background-color: #48dc9444;
  color: #710daf;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-radius: 130px;
  transition: background-color 0.3s ease-in-out;
}
.title:hover {
  background-color: #48dc94;
}

.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 0;
  padding: 25px 0;
  margin-bottom: 20px;
}

.sub-event-form {
  display: flex;
  flex-direction: column;
}
.sub-event-form .description {
  margin: auto;
  resize: none;
  width: 50%;
}
.form-buttons {
  margin: auto;
  width: 90%;
}
.discard-button {
  float: right;
  width: fit-content;
  background-color: #fd495b;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.back-button {
  float: left;
  width: fit-content;
  margin-left: 5px;
  background-color: #430dafa8;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.back-button:hover {
  background-color: #430dafe2;
}

.submit-button {
  float: right;
  width: fit-content;
  margin-left: 5px;
  background-color: #48dc94;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.discard-button:hover,
.submit-button:hover {
  float: right;
  width: fit-content;
  margin-left: 5px;
  background-color: #710dafb4;
}
.error-message {
  color: red;
  font-size: 12px;
}
.error-snackbar {
  background-color: red;
  color: white;
}
mat-checkbox[name="discount"] {
  margin-right: 30px;
}

mat-label[name="discount"] {
  font-weight: bold;
}

.head {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}
