<div class="container">
  <h1 class="head" *ngIf="data">Creating Performance in Event</h1>
  <h1 class="head" *ngIf="data">{{ data }}</h1>
  <form>
    <mat-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Name and price</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description">
            <mat-label>Performance Name</mat-label>
            <mat-icon
              matSuffix
              matTooltip="
            You can use only small, big letters or numbers. Example: Фенове - Театрална постановка"
              >info</mat-icon
            >
            <input
              matInput
              placeholder="Performance Name"
              [(ngModel)]="subEvent.performanceId.name"
              name="subEventName"
              required
              minlength="5"
              pattern="[a-zA-Zа-яА-Я0-9\s-]{5,}"
            />
            <mat-error *ngIf="!subEvent.performanceId.name"
              >Performance name is required!</mat-error
            >
            <mat-error
              *ngIf="
                subEvent.performanceId.name &&
                subEvent.performanceId.name.length < 5
              "
            >
              Performance name should be at least 5 characters!
            </mat-error>
            <mat-error
              *ngIf="
                subEvent.performanceId.name &&
                subEvent.performanceId.name.match('[a-zA-Zа-яА-Я0-9\s]{5,}') ==
                  null
              "
            >
              Invalid performance name format
            </mat-error>
          </mat-form-field>

          <mat-form-field class="description" *ngIf="!data">
            <mat-label>Event Name</mat-label>
            <mat-select
              [(ngModel)]="subEvent.performanceId.eventName"
              name="eventName"
              required
            >
              <mat-option *ngFor="let event of eventNames" [value]="event">{{
                event
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="!subEvent.performanceId.eventName"
              >Event name is required!</mat-error
            >
          </mat-form-field>

          <mat-form-field class="description">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              maxlength="500"
              rows="9"
              [(ngModel)]="subEvent.description"
              name="subEventDescription"
              required
              minlength="8"
            ></textarea>
            <mat-error *ngIf="!subEvent.description"
              >Description is required!</mat-error
            >
            <mat-error
              *ngIf="subEvent.description && subEvent.description.length < 8"
            >
              Description should be at least 5 characters!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="description">
            <mat-label>Ticket Price (BGN)</mat-label>
            <input
              matInput
              placeholder="0"
              type="number"
              [(ngModel)]="subEvent.ticketPrice"
              name="subEventTicketPrice"
              required
              min="1"
            />
            <mat-error *ngIf="subEvent.ticketPrice && subEvent.ticketPrice <= 0"
              >Ticket Price should be greater than 0.00!
            </mat-error>
          </mat-form-field>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              class="submit-button"
              matStepperNext
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Location and time</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description">
            <mat-label>Venue</mat-label>
            <mat-select
              [(ngModel)]="subEvent.performanceDetails.venue"
              name="venue"
              (ngModelChange)="(subEvent.performanceDetails.venue)"
              required
              minlength="2"
            >
              <mat-option
                *ngFor="let venue of possibleVenues"
                [value]="venue"
                >{{ venue }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="!subEvent.performanceDetails.venue"
              >Venue name is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field class="description">
            <mat-label>Stage</mat-label>
            <mat-select
              [(ngModel)]="subEvent.performanceDetails.stage"
              name="stage"
              required
              minlength="5"
            >
              <mat-option
                *ngFor="
                  let stage of possibleStages[subEvent.performanceDetails.venue]
                "
                [value]="stage"
                >{{ stage }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="!subEvent.performanceDetails.stage"
              >Stage name is required!</mat-error
            >
          </mat-form-field>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              class="submit-button"
              matStepperNext
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Add performers (Optional)</ng-template>
        <div class="sub-event-form">
          <mat-form-field class="description" backgroundColor="primary">
            <mat-label>Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="createdInformation.date"
              [ngModelOptions]="{ standalone: true }"
              [readonly]="true"
              required
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              color="primary"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="!createdInformation.date"
              >Date is required!</mat-error
            >
            <br />
          </mat-form-field>

          <mat-form-field class="description" subscriptSizing="dynamic">
            <mat-label>Start Time</mat-label>
            <input
              matInput
              [ngxMatTimepicker]="startTime"
              [format]="24"
              [(ngModel)]="createdInformation.time"
              [ngModelOptions]="{ standalone: true }"
              [readonly]="true"
              required
            />
            <mat-error *ngIf="!createdInformation.time"
              >Time is required!</mat-error
            >
          </mat-form-field>
          <br />
          <ngx-mat-timepicker
            #startTime
            [enableKeyboardInput]="true"
          ></ngx-mat-timepicker>

          <mat-form-field class="description">
            <mat-label>Performers</mat-label>
            <input matInput [(ngModel)]="performersInput" name="performers" />
          </mat-form-field>
          <form class="description">
            <mat-label>Discount</mat-label>
            <br />
            <mat-label>Kid(20%)</mat-label>
            <mat-checkbox name="discount"></mat-checkbox>
            <mat-label>Student(10%)</mat-label>
            <mat-checkbox name="discount"></mat-checkbox>
            <mat-label>Elderly(15%)</mat-label>
            <mat-checkbox name="discount"></mat-checkbox>
          </form>
          <div>
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              class="submit-button"
              type="button"
            >
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h2 class="centered-heading title">
          You are done. You can go back and check everything.
        </h2>

        <br />
        <div>
          <div class="form-buttons">
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              class="back-button"
            >
              Back
            </button>
            <button
              class="submit-button"
              mat-raised-button
              color="primary"
              (click)="createSubEvent()"
            >
              Submit
            </button>
            <button
              class="discard-button"
              mat-raised-button
              [disabled]=""
              color="warn"
              matDialogClose
            >
              Discard
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
