<div class="wrapper one">
  <div class="drop-main">
    <div class="delay-0">O</div>
    <div class="delay-2">R</div>
    <div class="delay-4">D</div>
    <div class="delay-6">E</div>
    <div class="delay-8">R</div>
  </div>
</div>
<div class="box">
  <button class="back-btn" (click)="onClickCart()">
    <mat-icon class="person-icon">shopping_cart</mat-icon>
    <span class="span-profile">Cart</span>
  </button>
</div>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button> -->
<form [formGroup]="combinedFormGroup" *ngIf="hasTickets">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Pick your discount</ng-template>
      <mat-card>
        <mat-card-content>
          <table
            [ngClass]="{ hidden: !hasTickets }"
            multiTemplateDataRows
            matSort
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            aria-label="Cart Table"
          >
            <ng-container matColumnDef="performance">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Performance
              </th>
              <td mat-cell *matCellDef="let item" style="width: 29%">
                <div>
                  {{ item.ticket.event }}
                </div>
                <div>
                  {{ item.ticket.subEvent }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="details">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Details</th>
              <td mat-cell *matCellDef="let item" style="width: 30%">
                <div>
                  <strong>Start time:</strong>
                  {{ item.ticket.performance.startDateTime | date : "short" }}
                </div>
                <div>
                  <strong>Venue:</strong> {{ item.ticket.performance.venue }}
                </div>
                <div>
                  <strong>Stage:</strong> {{ item.ticket.performance.stage }}
                </div>
                <div><br /></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="seat">
              <th mat-header-cell *matHeaderCellDef>Sector - Row - Seat</th>
              <td mat-cell *matCellDef="let item" style="width: 20%">
                {{ item.ticket.sector }} - {{ item.ticket.row }} -
                {{ item.ticket.seatNumber }}
              </td>
            </ng-container>

            <ng-container matColumnDef="discount">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>
                Discount
              </th>
              <td mat-cell *matCellDef="let item" style="width: 8%">
                <mat-form-field>
                  <mat-label>Pick your discount</mat-label>
                  <mat-select
                    [(ngModel)]="item.ticket.discount"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="updatePrice(item)"
                  >
                    <mat-option
                      *ngFor="let discount of discountOptions"
                      [value]="discount"
                    >
                      {{ discount }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price in BGN</th>
              <td mat-cell *matCellDef="let item" style="width: 8%">
                {{ item.ticketFromCart.price }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <br />
          <mat-card-footer [ngClass]="{ hidden: !hasTickets }">
            <mat-paginator
              [length]="ticketsForOrder.length"
              [pageSizeOptions]="[3, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Pick delivery type">
      <mat-form-field>
        <mat-label>Pick your delivery</mat-label>
        <mat-select
          [(ngModel)]="orderWithTickets.deliveryType"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let deliveryType of deliveryOptions"
            [value]="deliveryType"
          >
            {{ deliveryType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="orderWithTickets.deliveryType === 'EMAIL_DELIVERY'">
        We will send your order to your email: {{ customerProfile.email }}
      </div>
      <ng-container *ngIf="orderWithTickets.deliveryType === 'HOME_DELIVERY'">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. Sofia"
            required
            [(ngModel)]="orderWithTickets.deliveryAddress.city"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. Iskar 47 str."
            required
            [(ngModel)]="orderWithTickets.deliveryAddress.street"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Post code</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1000"
            required
            [(ngModel)]="orderWithTickets.deliveryAddress.postCode"
          />
        </mat-form-field>
      </ng-container>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Pick payment type">
      <mat-form-field>
        <mat-label>Pick your payment type</mat-label>
        <mat-select
          [(ngModel)]="orderWithTickets.paymentType"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let paymentType of paymentOptions"
            [value]="paymentType"
          >
            {{ paymentType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!orderWithTickets.paymentType" class="warning-message">
        Please pick a payment type!
      </div>
      <div *ngIf="!orderWithTickets.deliveryType" class="warning-message">
        Please pick a delivery type!
      </div>
      <div
        *ngIf="
          orderWithTickets.deliveryType == 'HOME_DELIVERY' &&
          (!orderWithTickets.deliveryAddress.city ||
            orderWithTickets.deliveryAddress.city.length > 30 ||
            orderWithTickets.deliveryAddress.city.length < 2)
        "
        class="warning-message"
      >
        Please enter a proper city name between 2 and 30 symbols your home
        delivery!
      </div>
      <div
        *ngIf="
          orderWithTickets.deliveryType == 'HOME_DELIVERY' &&
          (!orderWithTickets.deliveryAddress.street ||
            orderWithTickets.deliveryAddress.street.length > 30 ||
            orderWithTickets.deliveryAddress.street.length < 2)
        "
        class="warning-message"
      >
        Please enter a proper street name between 2 and 30 letters, for your
        home delivery!
      </div>
      <div
        *ngIf="
          orderWithTickets.deliveryType == 'HOME_DELIVERY' &&
          (!orderWithTickets.deliveryAddress.postCode ||
            orderWithTickets.deliveryAddress.postCode.length > 10 ||
            orderWithTickets.deliveryAddress.postCode.length < 3)
        "
        class="warning-message"
      >
        Please enter proper post code between 3 and 10 symbols your home
        delivery!
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button
          class="submit-button"
          mat-raised-button
          color="primary"
          (click)="createOrder()"
          [disabled]="
            !orderWithTickets.paymentType ||
            !orderWithTickets.deliveryType ||
            (orderWithTickets.deliveryType == 'HOME_DELIVERY' &&
              (!orderWithTickets.deliveryAddress.street ||
                orderWithTickets.deliveryAddress.street.length > 30 ||
                orderWithTickets.deliveryAddress.street.length < 2 ||
                !orderWithTickets.deliveryAddress.street ||
                !orderWithTickets.deliveryAddress.postCode ||
                orderWithTickets.deliveryAddress.postCode.length > 10 ||
                orderWithTickets.deliveryAddress.postCode.length < 3))
          "
        >
          Create order
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
<div>
  <ng-container>
    <h1 *ngIf="!hasTickets">No tickets picked for the order!</h1>
  </ng-container>
</div>
