.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 400px; /* Set the maximum width of the mat-card element */
  padding: 20px;
}

.title {
  padding: 20px;
  background-color: #f2f3f4;
  color: #48dc94;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  border-radius: 130px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
mat-card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding-bottom: 10px;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.box {
  position: relative;
  top: 14%;
  left: 3%;
  transform: translate(-3%, -105%);
}
.profile-button {
  padding: 10px;
  background-color: #48dc94df;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
}

.profile-button:hover {
  background-color: #703fb5b7;
}

.back-button {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #3fb59bb7;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  right: 20px;
}

.back-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.block-button {
  padding: 10px;
  background-color: #ff4949d6;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-top: 10px;
  margin-left: 150px;
}
.block-button:hover {
  background-color: #703fb5b7;
  color: #ffffff;
}

.back-button:hover {
  background-color: #703fb5b7;
  color: #ffffff;
}

.wrapper.one {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.drop-main {
  display: flex;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  margin: 1.5rem;
  justify-content: center;
  font-family: "Russo One", sans-serif;
}
.delay-0 {
  opacity: 0;
  animation: drop 0.4s linear forwards;
  color: #710daf;
}

.delay-2 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.2s;
  color: #710daf;
}
.delay-4 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.4s;
  color: #710daf;
}
.delay-6 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
  color: #710daf;
}
.delay-8 {
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
  color: #710daf;
}

.delay-10 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1s;
  color: #710daf;
}

.delay-12 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.2s;
  color: #710daf;
}

.delay-14 {
  opacity: 0;
  animation: drop 0.4s linear forwards 1.4s;
  color: #710daf;
}

.person-icon {
  font-size: 30px;
  width: 50px;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}

.span-profile {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  width: 50px;
  position: relative;
  background: #f0f0f0;
  color: #710daf;
  padding: 5 px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
  margin: auto 0;
  top: 6px;
  opacity: 0;
  transition: 0.6s opacity;
}
.back-btn {
  display: inline-block;
  border: 3px solid #710daf;
  background-color: transparent;
  padding: 10px 15px;
  color: #710daf;
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: border-color 1s, color 1s;
}
.back-btn:hover > .span-profile {
  opacity: 1;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.warning-message {
  background-color: #ffc107; /* Yellow background */
  color: #333; /* Dark text color */
  padding: 10px; /* Add some padding for better readability */
  border: 1px solid #e0e0e0; /* Add a light border */
  border-radius: 5px; /* Add rounded corners */
  margin-bottom: 10px; /* Add some spacing below the message */
}
